modules/extensions-xml-support/src/test/resources/catalog/type3-schema-from-raml-type.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://validationnamespace.raml.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://validationnamespace.raml.org">
    <!-- schema generated by the raml parser from a RAML type -->
    <element maxOccurs="unbounded" name="objectName" type="tns:objectName"/>
    <complexType name="objectName">
        <sequence>
            <element minOccurs="0" name="id">
                <simpleType>
                    <restriction base="string"/>
                </simpleType>
            </element>
            <element name="name">
                <simpleType>
                    <restriction base="string"/>
                </simpleType>
            </element>
            <element name="phone">
                <simpleType>
                    <restriction base="string"/>
                </simpleType>
            </element>
            <element name="email">
                <simpleType>
                    <restriction base="string"/>
                </simpleType>
            </element>
            <element minOccurs="0" name="billingAddress">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="address">
                            <simpleType>
                                <restriction base="string"/>
                            </simpleType>
                        </element>
                        <element minOccurs="0" name="city">
                            <simpleType>
                                <restriction base="string"/>
                            </simpleType>
                        </element>
                        <element minOccurs="0" name="state">
                            <simpleType>
                                <restriction base="string"/>
                            </simpleType>
                        </element>
                        <element minOccurs="0" name="postalCode">
                            <simpleType>
                                <restriction base="string"/>
                            </simpleType>
                        </element>
                        <element minOccurs="0" name="country">
                            <simpleType>
                                <restriction base="string"/>
                            </simpleType>
                        </element>
                        <any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="shippingAddress">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="address">
                            <simpleType>
                                <restriction base="string"/>
                            </simpleType>
                        </element>
                        <element minOccurs="0" name="city">
                            <simpleType>
                                <restriction base="string"/>
                            </simpleType>
                        </element>
                        <element minOccurs="0" name="state">
                            <simpleType>
                                <restriction base="string"/>
                            </simpleType>
                        </element>
                        <element minOccurs="0" name="postalCode">
                            <simpleType>
                                <restriction base="string"/>
                            </simpleType>
                        </element>
                        <element minOccurs="0" name="country">
                            <simpleType>
                                <restriction base="string"/>
                            </simpleType>
                        </element>
                        <any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                    </sequence>
                </complexType>
            </element>
            <any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </sequence>
    </complexType>
</schema>
