transports/jetty/src/main/resources/META-INF/mule-jetty-ssl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/jetty-ssl"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:http="http://www.mulesoft.org/schema/mule/http"
            xmlns:jetty="http://www.mulesoft.org/schema/mule/jetty"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/jetty-ssl"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.7/mule.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/http"
                schemaLocation="http://www.mulesoft.org/schema/mule/http/3.7/mule-http.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/jetty"
                schemaLocation="http://www.mulesoft.org/schema/mule/jetty/3.7/mule-jetty.xsd"/>
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.7/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>The Jetty HTTPS transport provides support for exposing services over HTTPS by embedding a
            light-weight Jetty server. You can only define inbound endpoints with this transport.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>Jetty SSL</schemadoc:short-name>
            <schemadoc:page-title>Jetty SSL Transport</schemadoc:page-title>
            <schemadoc:artifact-name>jetty</schemadoc:artifact-name>
            <schemadoc:transport-features receiveEvents="true" dispatchEvents="false"
                                          requestEvents="true" transactions="false" streaming="true">
                <schemadoc:MEPs supported="one-way, request-response" default="request-response"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="jettySslConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Allows Mule to expose Mule Services over HTTPS using a Jetty HTTP server. A single Jetty server is created for each connector instance. One connector can serve many endpoints. Users should rarely need to have more than one Jetty connector. The Jetty connector can be configured using a Jetty XML config file, but the default configuration is sufficient for most scenarios.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="jettySslConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element minOccurs="0" maxOccurs="1" name="tls-client" type="mule:tlsClientKeyStoreType"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="tls-key-store" type="mule:tlsKeyStoreType"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="tls-server" type="mule:tlsServerTrustStoreType"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="tls-protocol-handler" type="mule:tlsProtocolHandler"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="webapps" type="jetty:webappsType">
                        <xsd:annotation>
                            <xsd:documentation>
                                Allows configuring of a directory which contains WAR files to be served out by Jetty.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="configFile" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The location of the Jetty config file to configure this connector with.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="acceptors" type="mule:substitutableInt">
                    <xsd:annotation>
                        <xsd:documentation>
                            The number of Jetty "acceptor" threads to use. May be increased for improved throughput. Defaults: 1
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                Allows a Mule service to receive requests over HTTPS using a Jetty server.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="http:inboundEndpointType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                Allows users to configure a global Jetty HTTPS endpoint. Note that this can only be used as an inbound-endpoint reference.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="http:globalEndpointType"/>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
