mule-jbi/components/agila/main/test/conf/loanbroker/definition.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by  () -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpel="http://schemas.xmlsoap.org/ws/2003/03/business-process/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wi="http://www.apache.org/agila/types/workitem/" xmlns:lns="http://www.apache.org/agila/samples/exemple1/definition/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.apache.org/agila/samples/exemple1/definition/">
	<message name="creditInformationMessage">
		<part name="firstName" type="xsd:string"/>
		<part name="lastName" type="xsd:string"/>
		<part name="amount" type="xsd:integer"/>
	</message>
	<message name="approvalMessage">
		<part name="accept" type="xsd:string"/>
		<part name="firstName" type="xsd:string"/>
		<part name="lastName" type="xsd:string"/>
	</message>
	<message name="riskAssessmentMessage">
		<part name="level" type="xsd:string"/>
		<part name="firstName" type="xsd:string"/>
		<part name="lastName" type="xsd:string"/>
	</message>
	<message name="loanApprovalRequestMessage">
		<!--<part name="wipart" element="wi:workitem"/>-->
		<part name="firstName" type="xsd:string"/>
		<part name="lastName" type="xsd:string"/>
	</message>
	<message name="errorMessage">
    </message>
	<portType name="loanService">
		<operation name="request">
			<input message="lns:creditInformationMessage"/>
			<fault name="unableToHandleRequest" message="lns:errorMessage"/>
		</operation>
		<operation name="response">
			<input message="lns:approvalMessage"/>
		</operation>
	</portType>
	<portType name="riskAssessment">
		<operation name="check">
			<input message="lns:creditInformationMessage"/>
			<fault name="loanProcessFault" message="lns:errorMessage"/>
		</operation>
	</portType>
	<portType name="loanApproval">
		<operation name="approve">
			<input message="lns:creditInformationMessage"/>
			<fault name="loanProcessFault" message="lns:errorMessage"/>
		</operation>
	</portType>
	<binding name="loanService" type="lns:loanService">
		<operation name="request">
			<input/>
			<fault name="unableToHandleRequest"/>
		</operation>
		<operation name="response">
			<input/>
		</operation>
	</binding>
	<binding name="riskAssessment" type="lns:riskAssessment">
		<operation name="check">
			<input/>
			<fault name="loanProcessFault"/>
		</operation>
	</binding>
	<binding name="loanApproval" type="lns:loanApproval">
		<operation name="approve">
			<input/>
			<fault name="loanProcessFault"/>
		</operation>
	</binding>
	<service name="loanBroker">
		<port name="loaner" binding="lns:loanService">
		</port>
		<port name="assessmentReceiver" binding="lns:riskAssessment">
		</port>
		<port name="loanApproval" binding="lns:loanApproval">
		</port>
	</service>
	<bpel:property name="customerFirstName" type="xsd:string"/>
	<bpel:propertyAlias propertyName="customerFirstName" messageType="creditInformationMessage" part="firstName"/>
	<bpel:propertyAlias propertyName="customerFirstName" messageType="approvalMessage" part="firstName"/>
	<bpel:propertyAlias propertyName="customerFirstName" messageType="riskAssessmentMessage" part="firstName"/>
	<bpel:property name="customerLastName" type="xsd:string"/>
	<bpel:propertyAlias propertyName="customerLastName" messageType="creditInformationMessage" part="lastName"/>
	<bpel:propertyAlias propertyName="customerLastName" messageType="approvalMessage" part="lastName"/>
	<bpel:propertyAlias propertyName="customerLastName" messageType="riskAssessmentMessage" part="lastName"/>
	<bpel:property name="workitem" type="xsd:string"/>
	<bpel:propertyAlias propertyName="workitem" messageType="workMessage" part="wipart" query="/workitemid"/>
	<plnk:partnerLinkType name="loanPartnerLinkType">
		<plnk:role name="loanService">
			<plnk:portType name="lns:loanServicePT"/>
		</plnk:role>
		<plnk:role name="customerService">
			<plnk:portType name="lns:customerServicePT"/>
		</plnk:role>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="loanApprovalLinkType">
		<plnk:role name="approver">
			<plnk:portType name="lns:loanApprovalPT"/>
		</plnk:role>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="riskAssessmentLinkType">
		<plnk:role name="assessor">
			<plnk:portType name="lns:riskAssessmentPT"/>
		</plnk:role>
		<plnk:role name="assessmentReceiver">
			<plnk:portType name="lns:riskProcessorPT"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>
