transports/rmi/src/main/resources/META-INF/mule-jnp.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/jnp/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:rmi="http://www.mulesource.org/schema/mule/rmi/2.0"
            xmlns:schemadoc="http://www.mulesource.org/schema/mule/schemadoc/2.0" 
            targetNamespace="http://www.mulesource.org/schema/mule/jnp/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/rmi/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/rmi/2.0/mule-rmi.xsd"/>

    <xsd:element name="connector" type="rmi:rmiConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                The JNP connector is an extension of the RMI connector that uses the Java Naming protocol to bind to remote objects. 
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="inbound-endpoint" type="rmi:inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>

    <xsd:element name="outbound-endpoint" type="rmi:outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>

    <xsd:element name="endpoint" type="rmi:globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>

</xsd:schema>
