modules/wssecurity/src/main/resources/META-INF/mule-wssecurity.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/wssecurity/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
	        xmlns:spring="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.mulesource.org/schema/mule/wssecurity/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <xsd:element name="security-filters" type="securityFiltersType" substitutionGroup="mule:abstract-security-filters">
        <xsd:annotation>
            <xsd:documentation>
                Container for security filtes provided by the WS Security Module.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="securityFiltersType">
        <xsd:complexContent>
            <xsd:extension base="mule:securityFiltersType">
                <xsd:sequence>
                    <xsd:element ref="security-filter"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="security-filter" type="wsSecurityFilterType">
        <xsd:annotation>
            <xsd:documentation>
                TODO
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="wsSecurityFilterType">
        <xsd:complexContent>
            <xsd:extension base="mule:securityFilterType">
				<xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="property" type="wssPropertyType">
                        <xsd:annotation>
                            <xsd:documentation>
                                Additional header name and value.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
						</xsd:sequence>
                <xsd:attribute name="signatureFile" type="xsd:string"/>
                <xsd:attribute name="decryptionFile" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
	
	<xsd:complexType name="wssPropertyType">
        <xsd:attribute name="key" type="xsd:string" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

</xsd:schema>
