modules/spring-config/src/main/resources/META-INF/mule-simple.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/simple"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            targetNamespace="http://www.mulesoft.org/schema/mule/simple"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.0/mule.xsd" />

    <xsd:element name="model" type="directModelType" substitutionGroup="mule:abstract-model"/>
    <xsd:complexType name="directModelType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractModelType">
                <xsd:sequence>
                    <xsd:element name="service" type="simpleServiceType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="simpleServiceType">
        <xsd:complexContent>
            <xsd:extension base="mule:sedaServiceType"/>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
