modules/spring-config/src/main/resources/META-INF/mule-domain.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/domain"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:spring="http://www.springframework.org/schema/beans"
            xmlns:spring-context="http://www.springframework.org/schema/context"
            xmlns:http="http://www.mulesoft.org/schema/mule/http"
            xmlns:https="http://www.mulesoft.org/schema/mule/https"
            xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
            xmlns:bti="http://www.mulesoft.org/schema/mule/bti"
            targetNamespace="http://www.mulesoft.org/schema/mule/domain"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/http"
                schemaLocation="http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/https"
                schemaLocation="http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/jms"
                schemaLocation="http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-current.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/bti"
                schemaLocation="http://www.mulesoft.org/schema/mule/bti/current/mule-bti.xsd"/>
    <xsd:import namespace="http://www.springframework.org/schema/context"
                schemaLocation="http://www.springframework.org/schema/context/spring-context-3.1.xsd"/>

    <xsd:element name="mule-domain" type="muleDomainType">
        <xsd:annotation>
            <xsd:documentation>
                Either the root element of a Mule domain configuration, or a "top-level" element in a Spring configuration that contains further Mule elements.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="muleDomainType">
        <xsd:complexContent>
            <xsd:extension base="mule:annotatedType">
                <xsd:sequence>
                    <xsd:element name="description" type="mule:descriptionType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Holds any kind of documentation that accompanies this domain configuration file. It is intended to be "human readable" only and is not used by the system.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:group ref="sharedElements"/>
                    </xsd:choice>
                </xsd:sequence>
                <xsd:attribute name="version" type ="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:group name="sharedElements">
        <xsd:choice>
            <xsd:element ref="spring:beans">
                <xsd:annotation>
                    <xsd:documentation>
                        Allows the embedding of any Spring elements.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="spring:bean">
                <xsd:annotation>
                    <xsd:documentation>
                        Allows Spring beans to be defined alongside Mule elements.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="spring-context:property-placeholder">
                <xsd:annotation>
                    <xsd:documentation>
                        Allows Spring property placeholders to be configured directly in the Mule configuration file.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="http:connector"/>
            <xsd:element ref="https:connector"/>
            <xsd:element ref="jms:connector"/>
            <xsd:element ref="jms:custom-connector"/>
            <xsd:element ref="jms:activemq-connector"/>
            <xsd:element ref="jms:activemq-xa-connector"/>
            <xsd:element ref="bti:transaction-manager" />
            <xsd:element ref="bti:xa-data-source-pool" />
            <xsd:element ref="bti:xa-connection-factory-pool" />
        </xsd:choice>
    </xsd:group>

</xsd:schema>
