transports/file/src/main/resources/META-INF/mule-file.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/file/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/file/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"/>

    <xsd:element name="connector" type="fileConnectorType"/>

    <xsd:complexType name="fileConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:attribute name="fileAge" type="xsd:long"/>
                <xsd:attribute name="moveToDirectory" type="xsd:string"/>
                <xsd:attribute name="moveToPattern" type="xsd:string"/>
                <xsd:attribute name="outputPattern" type="xsd:string"/>
                <xsd:attribute name="pollingFrequency" type="xsd:int"/>
                <xsd:attribute name="writeToDirectory" type="xsd:string"/>
                <xsd:attribute name="autoDelete" type="xsd:boolean"/>
                <xsd:attribute name="outputAppend" type="xsd:boolean"/>
                <xsd:attribute name="serialiseObjects" type="xsd:boolean"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
