compatibility/tests/integration-transports/src/test/resources/META-INF/mule-transports-parsers-test.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/transports-parsers-test"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:transports="http://www.mulesoft.org/schema/mule/transports"
            xmlns:parsers-test="http://www.mulesoft.org/schema/mule/parsers-test"
            targetNamespace="http://www.mulesoft.org/schema/mule/transports-parsers-test"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/transports"
                schemaLocation="http://www.mulesoft.org/schema/mule/transports/current/mule-transports.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/parsers-test"
                schemaLocation="http://www.mulesoft.org/schema/mule/parsers-test/current/mule-parsers-test.xsd" />

    <xsd:element name="orphan-endpoint" type="stringEndpointType" substitutionGroup="mule:abstract-global-endpoint" />
    <xsd:complexType name="stringEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractGlobalEndpointType">
                <xsd:group ref="transports:defaultEndpointElements" />
                <xsd:attributeGroup ref="transports:defaultEndpointAttributes" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="child-endpoint" type="childEndpointType" substitutionGroup="transports:abstract-inbound-endpoint"/>
    <xsd:complexType name="childEndpointType">
        <xsd:complexContent>
            <xsd:extension base="transports:abstractInboundEndpointType">
                <xsd:group ref="transports:defaultEndpointElements"/>
                <xsd:attributeGroup ref="transports:allExchangePatterns"/>
                <xsd:attributeGroup ref="transports:defaultEndpointAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="addressed-orphan-endpoint" type="addressedEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="addressedEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractGlobalEndpointType">
                <xsd:group ref="transports:defaultEndpointElements"/>
                <xsd:attribute name="path" type="xsd:string"/>
                <xsd:attributeGroup ref="transports:restrictedEndpointAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="addressed-child-endpoint" type="inboundEndpointType" substitutionGroup="transports:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="transports:abstractInboundEndpointType">
                <xsd:group ref="transports:defaultEndpointElements"/>
                <xsd:attribute name="address" type="xsd:string"/>
                <xsd:attribute name="ref" type="xsd:string"/>
                <xsd:attributeGroup ref="transports:allExchangePatterns"/>
                <xsd:attributeGroup ref="transports:restrictedEndpointAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="unaddressed-endpoint" type="unaddressedEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:element name="unaddressed-orphan-endpoint" type="unaddressedEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="unaddressedEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractGlobalEndpointType">
                <xsd:sequence>
                    <xsd:element name="address">
                        <xsd:complexType>
                            <xsd:attribute name="address" type="xsd:string"/>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:group ref="transports:defaultEndpointElements"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="transports:restrictedEndpointAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- this combines standard global endpoint elements, address-specific attributes, and
          transport-specific attributes -->
    <xsd:element name="complex-endpoint" type="complexEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="complexEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractGlobalEndpointType">
                <!-- standard endpoint elements -->
                <xsd:group ref="transports:defaultEndpointElements"/>
                <!-- standard endpoint attributes -->
                <xsd:attribute name="path" type="xsd:string"/>
                <xsd:attributeGroup ref="transports:restrictedEndpointAttributes"/>
                <!-- these are for child bean and will be set as properties
                     - they could be any transport related values -->
                <xsd:attribute name="string" type="xsd:string"/>
                <xsd:attribute name="bar" type="xsd:int"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>