tests/test-policies/src/main/resources/META-INF/mule-test-policy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/test-policy"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/test-policy"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd" />

    <xsd:annotation>
        <xsd:documentation>
            Mule Utilities for Testing Policies.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>Test Policies</schemadoc:short-name>
            <schemadoc:page-title>Test Policies Module</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="execute-next" type="mule:abstractMessageProcessorType" substitutionGroup="mule:abstract-message-processor"/>

    <xsd:element name="proxy" type="testPolicyType" substitutionGroup="mule:abstract-shared-extension"/>

    <xsd:complexType name="testPolicyType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:sequence>
                    <xsd:element name="source" minOccurs="0" maxOccurs="1">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                                    <xsd:group ref="mule:messageProcessorOrMixedContentMessageProcessor"/>
                                </xsd:choice>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="operation" minOccurs="0" maxOccurs="1">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                                    <xsd:group ref="mule:messageProcessorOrMixedContentMessageProcessor"/>
                                </xsd:choice>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="custom-processor" type="customMessageProcessorType" substitutionGroup="mule:top-level-processor"/>

    <xsd:complexType name="customMessageProcessorType">
        <xsd:complexContent>
            <xsd:extension base="mule:topLevelProcessorType">
                <xsd:sequence>
                    <xsd:group ref="mule:propertiesGroup"/>
                </xsd:sequence>
                <xsd:attribute name="class" type="mule:substitutableClass" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
