modules/json/src/test/resources/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http:customer.com" xmlns="http:customer.com">
    <xs:element name="customer" type="customerType"/>
    <xs:complexType name="customerType">
        <xs:sequence>
            <xs:element type="xs:string" name="id"/>
            <xs:element type="xs:string" name="first-name"/>
            <xs:element type="xs:string" name="last-name"/>
            <xs:element type="addressType" name="address"/>
            <xs:element type="phoneNumberType" name="phone-number" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addressType">
        <xs:sequence>
            <xs:element type="xs:string" name="street"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="phoneNumberType" mixed="true">
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>

</xs:schema>