modules/spring-extras/src/main/resources/META-INF/mule-spring-extras.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/spring-extras"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            targetNamespace="http://www.mulesoft.org/schema/mule/spring-extras"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd"/>

    <xsd:element name="spring-store" type="springObjectStoreType" substitutionGroup="mule:abstract-object-store">
        <xsd:annotation>
            <xsd:documentation>
                An object store to use caches defined using spring cache module in Mule.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="springObjectStoreType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractObjectStoreType">
                <xsd:attribute name="cacheProvider-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to the cache provider object. This object is typically created using Spring.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="cachingModel-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to the caching model object. This object is typically created using Spring.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
