modules/bpm/src/main/resources/META-INF/mule-bpm.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/bpm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/bpm"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
            
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd" />
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.1/mule-schemadoc.xsd"/>
    
    <xsd:annotation>
        <xsd:documentation>
            Support for BPM allows you to send/receive messages to/from a running process. A message from Mule can start or advance a process, the message can be stored as a process variable, and a running process can send messages to any endpoint in your Mule application.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>BPM</schemadoc:short-name>
            <schemadoc:page-title>BPM Support</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="process" type="processComponentType" substitutionGroup="mule:abstract-component">
        <xsd:annotation>
            <xsd:documentation>
                A process backed by a BPMS such as jBPM.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="processComponentType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractComponentType">
                <xsd:attribute name="bpms-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            An optional reference to the underlying BPMS.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="processName" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The logical name of the process.  This is used to look up the running process instance from the BPMS.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="processDefinition" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The resource containing the process definition.  This will be used to deploy the process to the BPMS.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="processIdField" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            This field will be used to correlate Mule messages with running processes.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="jbpm" type="jbpmType" substitutionGroup="mule:abstract-extension" />
 
    <xsd:complexType name="jbpmType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                 <xsd:attribute name="name" type="mule:substitutableName">
                     <xsd:annotation>
                         <xsd:documentation>
                              An optional name for this BPMS.  Refer to this from the "bpms-ref" field of your process in case you have more than one BPMS available.
                         </xsd:documentation>
                     </xsd:annotation>
                 </xsd:attribute>
                 <xsd:attribute name="configurationResource" type="xsd:string">
                     <xsd:annotation>
                         <xsd:documentation>
                             The configuration file for jBPM, default is "jbpm.cfg.xml" if not specified.
                         </xsd:documentation>
                     </xsd:annotation>
                 </xsd:attribute>
                 <xsd:attribute name="processEngine-ref" type="xsd:string">
                     <xsd:annotation>
                         <xsd:documentation>
                             A reference to the already-initialized jBPM ProcessEngine.  This is useful if you use Spring to configure your jBPM instance.  Note that the "configurationResource" attribute will be ignored in this case.
                         </xsd:documentation>
                     </xsd:annotation>
                 </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
