transports/jms/src/main/resources/META-INF/mule-jms.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/jms/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:spring="http://www.springframework.org/schema/beans"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/jms/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <!-- Generic JMS Connector -->    
    <xsd:element name="connector" type="genericConnectorType" substitutionGroup="mule:abstract-connector"/>
    <xsd:complexType name="genericConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:sequence>
                    <!-- The ConnectionFactory is required for non-vendor JMS configs -->
                    <xsd:element ref="abstract-connection-factory" minOccurs="1" maxOccurs="1"/>
                    <xsd:group ref="jmsConnectorElements"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="jmsConnectorAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="abstract-connection-factory" abstract="true" type="abstractConnectionFactoryType"/>
    <xsd:complexType name="abstractConnectionFactoryType">
        <xsd:attribute name="username" type="xsd:string"/>
        <xsd:attribute name="password" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="connection-factory" type="genericConnectionFactoryType" substitutionGroup="abstract-connection-factory"/>
    <xsd:complexType name="genericConnectionFactoryType">
        <xsd:complexContent>
            <xsd:extension base="abstractConnectionFactoryType">
                <xsd:sequence>
                    <xsd:element ref="mule:properties" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Properties to be set on the connection factory</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="class" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- Custom JMS Connector -->    
    <xsd:element name="custom-connector" substitutionGroup="mule:abstract-connector">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="mule:customConnectorType">
                    <xsd:sequence>
                        <!-- The ConnectionFactory is required for non-vendor JMS configs -->
                        <xsd:element ref="abstract-connection-factory" minOccurs="1" maxOccurs="1"/>
                        <xsd:group ref="jmsConnectorElements"/>
                    </xsd:sequence>
                    <xsd:attributeGroup ref="jmsConnectorAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:group name="jmsConnectorElements">
        <xsd:sequence>
            <xsd:element name="redelivery-handler" type="mule:genericObjectFactoryType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:attributeGroup name="jmsConnectorAttributes">
        <xsd:attribute name="acknowledgementMode" default="AUTO_ACKNOWLEDGE">
            <xsd:simpleType>
                <xsd:restriction base="xsd:NMTOKEN">
                    <xsd:enumeration value="AUTO_ACKNOWLEDGE"/>
                    <xsd:enumeration value="CLIENT_ACKNOWLEDGE"/>
                    <xsd:enumeration value="DUPS_OK_ACKNOWLEDGE"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="clientId" type="xsd:string"/>
        <xsd:attribute name="durable" type="mule:substitutableBoolean"/>
        <xsd:attribute name="noLocal" type="mule:substitutableBoolean"/>
        <xsd:attribute name="persistentDelivery" type="mule:substitutableBoolean"/>
        <xsd:attribute name="honorQosHeaders" type="mule:substitutableBoolean"/>
        <xsd:attribute name="maxRedelivery" type="mule:substitutableInt"/>
        <xsd:attribute name="cacheJmsSessions" type="mule:substitutableBoolean"/>
        <xsd:attribute name="recoverJmsConnections" type="mule:substitutableBoolean"/>
        <xsd:attribute name="eagerConsumer" type="mule:substitutableBoolean"/>
        <xsd:attribute name="jndiDestinations" type="mule:substitutableBoolean"/>
        <xsd:attribute name="forceJndiDestinations" type="mule:substitutableBoolean"/>
        <!-- Defaults to org.mule.providers.jms.JmsConstants.JMS_SPECIFICATION_102B  -->
        <xsd:attribute name="specification" default="1.0.2b">
            <xsd:simpleType>
                <xsd:restriction base="xsd:NMTOKEN">
                    <xsd:enumeration value="1.0.2b"/>
                    <xsd:enumeration value="1.1"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:attributeGroup>


    <!-- Vendor-specific JMS Connectors -->
         
    <xsd:complexType name="vendorJmsConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:sequence>
                    <!-- Optional, a default ConnectionFactory is provided for vendor JMS configs -->
                    <xsd:element name="connection-factory" type="genericConnectionFactoryType" minOccurs="0" maxOccurs="1"/>
                    <xsd:group ref="jmsConnectorElements"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="jmsConnectorAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="activemq-connector" type="activeMqConnectorType" substitutionGroup="mule:abstract-connector"/>
    <xsd:element name="activemq-xa-connector" type="activeMqConnectorType" substitutionGroup="mule:abstract-connector"/>
    <xsd:complexType name="activeMqConnectorType">
        <xsd:complexContent>
            <xsd:extension base="vendorJmsConnectorType">
                <xsd:attribute name="brokerURL" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <!-- TODO MULE-1726 -->
    <xsd:element name="oracleaq-connector" substitutionGroup="mule:abstract-connector">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="vendorJmsConnectorType">
                    <!-- JDBC Data Source -->
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="weblogic-connector" type="vendorJmsConnectorType" substitutionGroup="mule:abstract-connector"/>
    <xsd:element name="websphere-connector" type="vendorJmsConnectorType" substitutionGroup="mule:abstract-connector"/>
 
</xsd:schema>
