modules/scripting/src/main/resources/META-INF/mule-scripting.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/scripting/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/scripting/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <xsd:element name="script" type="scriptType" substitutionGroup="mule:abstract-extension">
    	<xsd:annotation>
            <xsd:documentation>
            	A script to be executed by a JSR-223 compliant script engine such as Groovy, JavaScript, or Rhino
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="scriptType">
	    <xsd:complexContent mixed="true">
	        <xsd:extension base="mule:abstractExtensionType">
                <xsd:sequence>
                    <xsd:group ref="mule:propertiesGroup" minOccurs="0"/>
                    <xsd:element name="text" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
	            <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="engine" type="xsd:string"/>
                <xsd:attribute name="file" type="xsd:string"/>
	        </xsd:extension>
	    </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="component" type="scriptComponentType" substitutionGroup="mule:abstract-component">
    	<xsd:annotation>
            <xsd:documentation>
            	A script service backed by a JSR-223 compliant script engine such as Groovy, JavaScript, or Rhino
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="scriptComponentType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractComponentType">
            	<xsd:sequence>
                    <xsd:element name="script" type="scriptType" minOccurs="0"/>
            	</xsd:sequence>
                <xsd:attribute name="script-ref" type="xsd:NMTOKEN"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="transformer" type="scriptTransformerType" substitutionGroup="mule:abstract-transformer">
    	<xsd:annotation>
            <xsd:documentation>
            	Runs a script to perform transformation on an object
            </xsd:documentation>
        </xsd:annotation>    
    </xsd:element>
    <xsd:complexType name="scriptTransformerType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractTransformerType">
            	<xsd:sequence>
				    <xsd:element name="script" type="scriptType"/>
            	</xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="groovy-refreshable" substitutionGroup="mule:abstract-extension">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="mule:abstractExtensionType">
                    <xsd:attribute name="name" type="xsd:string" use="required" />
                    <xsd:attribute name="refreshableBean-ref" type="xsd:NMTOKEN" />
                    <xsd:attribute name="methodName" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="lang" type="langType" substitutionGroup="mule:abstract-extension">
        <xsd:annotation>
            <xsd:documentation>
                This element allows the http://www.springframework.org/schema/lang namespace
                to be embedded.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="langType">
        <xsd:complexContent mixed="true">
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:any namespace="http://www.springframework.org/schema/lang namespace" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
