modules/scripting/src/main/resources/META-INF/mule-scripting.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/scripting/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/scripting/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <xsd:element name="script" substitutionGroup="mule:abstract-extension">
        <xsd:complexType>
            <xsd:complexContent mixed="true">
                <xsd:extension base="mule:abstractExtensionType">
                    <xsd:attribute name="name" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="groovyRefreshable" substitutionGroup="mule:abstract-extension">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="mule:abstractExtensionType">
                    <xsd:attribute name="name" type="xsd:string" use="required" />
                    <xsd:attribute name="refreshableBean-ref" type="xsd:NMTOKEN" />
                    <xsd:attribute name="methodName" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
