modules/bti/src/main/resources/META-INF/mule-bti.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/bti"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            targetNamespace="http://www.mulesoft.org/schema/mule/bti"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd"/>

    <xsd:annotation>
        <xsd:documentation>This module enables Mule to use the Bitronix transaction manager to
            configure [XA transactions|Transaction Management#XA Transactions]. Developers can configure one Transaction
            Manger per Mule instance.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>bitronixts</schemadoc:short-name>
            <schemadoc:page-title>Bitronix Transaction Integration</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="transaction-manager" type="transactionManagerType"
                 substitutionGroup="mule:abstract-transaction-manager">
        <xsd:annotation>
            <xsd:documentation>
                To configure an instance of the bitronix transaction manager within Mule, add this element to your Mule XML
                config file.

                You can then declare XA transactions on endpoints supporting XA transactions, and all those transactions
                will be managed by the bitronix transaction manager.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="transactionManagerType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractTransactionManagerType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="xa-data-source-pool" type="xaDataSourcePoolType" substitutionGroup="mule:abstract-extension">
        <xsd:annotation>
            <xsd:documentation>
                This element allows to configure a Bitronix data source pool. You must reference a data source though the dataSource-ref
                attribute, and then use this element as data source in the JDBC connector.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="xa-connection-factory-pool" type="xaConnectionFactoryPoolType" substitutionGroup="mule:abstract-extension">
        <xsd:annotation>
            <xsd:documentation>
                This element allows to configure a Bitronix connection factory pool. You must reference a connection factory though the
                connectionFactory-ref attribute, and then use this element as data source in the JMS connector.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>



    <xsd:complexType name="abstractXaPoolType" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:attribute name="name" type="mule:substitutableName" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Identifies the pool so that the connector can reference it.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="minPoolSize" type="mule:substitutableInt" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            Defines the minimal amount of connections that can be in the pool.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="maxPoolSize" type="mule:substitutableInt" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            Defines the maximum amount of connections that can be in the pool.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="maxIdleTime" type="mule:substitutableInt" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            Defines the amount of seconds an idle connection can stay in the pool before getting closed.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="xaDataSourcePoolType">
        <xsd:complexContent>
            <xsd:extension base="abstractXaPoolType">
                <xsd:attribute name="dataSource-ref" type="mule:substitutableName" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to the JDBC data source object. An XADataSource object must be provided."
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="xaConnectionFactoryPoolType">
        <xsd:complexContent>
            <xsd:extension base="abstractXaPoolType">
                <xsd:attribute name="connectionFactory-ref" type="mule:substitutableName" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to the connection factory. An XAConnectionFactory must be provided.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
