modules/sxc/src/main/resources/META-INF/mule-sxc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/sxc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
            targetNamespace="http://www.mulesoft.org/schema/mule/sxc"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.7/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/xml"
                schemaLocation="http://www.mulesoft.org/schema/mule/xml/3.7/mule-xml.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.7/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            The SXC module contains an outbound router and a filter that use the SXC project for streaming XPath routing.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>SXC</schemadoc:short-name>
            <schemadoc:page-title>SXC Client</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="filter" type="sxcFilterType" substitutionGroup="mule:abstract-filter"/>
    <xsd:complexType name="sxcFilterType">
        <xsd:complexContent>
            <xsd:extension base="mule:patternFilterType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="filtering-router" type="filteringOutboundRouterType"
                 substitutionGroup="mule:abstract-outbound-router"/>

    <xsd:complexType name="filteringOutboundRouterType">
        <xsd:complexContent>
            <xsd:extension base="mule:filteringOutboundRouterType">
                <xsd:sequence>
                    <xsd:element name="namespace" type="mule-xml:namespaceType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
