modules/extensions-xml-support/src/test/resources/modules/schema/module-param-default-types.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/module-param-default-types" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
    <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/module-param-default-types" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Boolean-param-operationType" substitutionGroup="mule:abstract-operator" name="boolean-param-operation"></xs:element>
    <xs:complexType name="Boolean-param-operationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
                <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="booleanParam"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
                    <xs:annotation>
                        <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/module-param-default-types" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Date-param-operationType" substitutionGroup="mule:abstract-operator" name="date-param-operation"></xs:element>
    <xs:complexType name="Date-param-operationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
                <xs:attribute type="mule:expressionDateTime" use="optional" default="1959-09-07T00:00:00" name="dateParam"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
                    <xs:annotation>
                        <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/module-param-default-types" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Datetime-param-operationType" substitutionGroup="mule:abstract-operator" name="datetime-param-operation"></xs:element>
    <xs:complexType name="Datetime-param-operationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
                <xs:attribute type="mule:expressionDateTime" use="optional" default="1959-09-07T00:00:00" name="datetimeParam"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
                    <xs:annotation>
                        <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/module-param-default-types" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Integer-param-operationType" substitutionGroup="mule:abstract-operator" name="integer-param-operation"></xs:element>
    <xs:complexType name="Integer-param-operationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
                <xs:attribute type="mule:expressionDecimal" use="optional" default="11" name="integerParam"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
                    <xs:annotation>
                        <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/module-param-default-types" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Optional-parameter-operationType" substitutionGroup="mule:abstract-operator" name="optional-parameter-operation"></xs:element>
    <xs:complexType name="Optional-parameter-operationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
                <xs:attribute type="mule:expressionString" use="optional" name="optionalParameter"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
                    <xs:annotation>
                        <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/module-param-default-types" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="String-param-operationType" substitutionGroup="mule:abstract-operator" name="string-param-operation"></xs:element>
    <xs:complexType name="String-param-operationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
                <xs:attribute type="mule:expressionString" use="optional" default="hello world" name="stringParam"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
                    <xs:annotation>
                        <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/module-param-default-types" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Time-param-operationType" substitutionGroup="mule:abstract-operator" name="time-param-operation"></xs:element>
    <xs:complexType name="Time-param-operationType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
                <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
                <xs:attribute type="xs:string" use="optional" default="1959-09-07T00:00:00" name="timeParam"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
                    <xs:annotation>
                        <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
