modules/cxf/src/test/resources/artistregistry.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example.cxf.module.mule.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ArtistRegistryWebServicesService" targetNamespace="http://example.cxf.module.mule.org/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.cxf.module.mule.org/" targetNamespace="http://example.cxf.module.mule.org/" version="1.0">
            <xs:complexType name="artist">
                <xs:sequence>
                    <xs:element minOccurs="0" name="artType" type="tns:artType"/>
                    <xs:element minOccurs="0" name="famousWorks" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="artistArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:artist"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="artType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ACTOR"/>
                    <xs:enumeration value="DIRECTOR"/>
                    <xs:enumeration value="AUTHOR"/>
                    <xs:enumeration value="PAINTER"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>  </wsdl:types>
    <wsdl:message name="getAllResponse">
        <wsdl:part name="return" type="tns:artistArray">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addArtistResponse">
    </wsdl:message>
    <wsdl:message name="getAll">
        <wsdl:part name="pageSize" type="xsd:int">
        </wsdl:part>
        <wsdl:part name="pageNumber" type="xsd:int">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addArtist">
        <wsdl:part name="arg0" type="tns:artist">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ArtistRegistryWebServices">
        <wsdl:operation name="addArtist">
            <wsdl:input message="tns:addArtist" name="addArtist">
            </wsdl:input>
            <wsdl:output message="tns:addArtistResponse" name="addArtistResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAll">
            <wsdl:input message="tns:getAll" name="getAll">
            </wsdl:input>
            <wsdl:output message="tns:getAllResponse" name="getAllResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ArtistRegistryWebServicesServiceSoapBinding" type="tns:ArtistRegistryWebServices">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addArtist">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="addArtist">
                <soap:body namespace="http://example.cxf.module.mule.org/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="addArtistResponse">
                <soap:body namespace="http://example.cxf.module.mule.org/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAll">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getAll">
                <soap:body namespace="http://example.cxf.module.mule.org/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllResponse">
                <soap:body namespace="http://example.cxf.module.mule.org/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ArtistRegistryWebServicesService">
        <wsdl:port binding="tns:ArtistRegistryWebServicesServiceSoapBinding" name="ArtistRegistryWebServicesPort">
            <soap:address location="http://localhost:5040/artistRegistry"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>