modules/cxf/src/test/resources/echoHolder.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="HolderServiceService" targetNamespace="http://cxf.module.mule.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://cxf.module.mule.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  >
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified" targetNamespace="http://cxf.module.mule.org/" version="1.0"
                   xmlns:tns="http://cxf.module.mule.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="echo" type="tns:echo"/>
            <xs:element name="echoResponse" type="tns:echoResponse"/>
            <xs:element name="echo2" type="tns:echo2"/>
            <xs:element name="echo2Response" type="tns:echo2Response"/>
            <xs:element name="echo3" type="tns:echo3"/>
            <xs:element name="echo3Response" type="tns:echo3Response"/>
            <xs:complexType name="echo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                    <xs:element minOccurs="0" name="return1" type="xs:string"/>
                    <xs:element minOccurs="0" name="return2" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echo2">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echo2Response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                    <xs:element minOccurs="0" name="return1" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echo3">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echo3Response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="echo">
        <wsdl:part element="tns:echo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part element="tns:echoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo2">
        <wsdl:part element="tns:echo2" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo2Response">
        <wsdl:part element="tns:echo2Response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo3">
        <wsdl:part element="tns:echo3" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo3Response">
        <wsdl:part element="tns:echo3Response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HolderService">
        <wsdl:operation name="echo">
            <wsdl:input message="tns:echo" name="echo">
            </wsdl:input>
            <wsdl:output message="tns:echoResponse" name="echoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo2">
            <wsdl:input message="tns:echo2" name="echo2">
            </wsdl:input>
            <wsdl:output message="tns:echo2Response" name="echo2Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo3">
            <wsdl:input message="tns:echo3" name="echo3">
            </wsdl:input>
            <wsdl:output message="tns:echo3Response" name="echo3Response">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HolderServiceServiceSoapBinding" type="tns:HolderService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="echo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo2">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="echo2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echo2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo3">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="echo3">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echo3Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HolderServiceService">
        <wsdl:port binding="tns:HolderServiceServiceSoapBinding" name="HolderServicePort">
            <soap:address location="http://localhost:5001/echo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>