modules/extensions-spring-support/src/test/resources/schemas/semantic-terms-extension.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/semantic-terms" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="api-key-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:semantic-terms="http://www.mulesoft.org/schema/mule/semantic-terms" base="semantic-terms:org.mule.test.semantic.extension.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="url"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="domain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="urlPath"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="endpoint"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="apiKey"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.test.semantic.extension.ProxyConfiguration">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="url"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="username"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="password"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="basic-auth-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:semantic-terms="http://www.mulesoft.org/schema/mule/semantic-terms" base="semantic-terms:org.mule.test.semantic.extension.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="url"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="domain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="urlPath"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="endpoint"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="username"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="password"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="client-secret-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:semantic-terms="http://www.mulesoft.org/schema/mule/semantic-terms" base="semantic-terms:org.mule.test.semantic.extension.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="url"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="domain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="urlPath"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="endpoint"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="clientId"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="clientSecret"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="custom-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:semantic-terms="http://www.mulesoft.org/schema/mule/semantic-terms" base="semantic-terms:org.mule.test.semantic.extension.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="url"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="domain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="urlPath"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="endpoint"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="connectionId"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="tenantName"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="tokenId"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="securityToken"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="secretToken"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="sessionId"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="accountId"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="certificate"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="secretNumber"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="digest-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:semantic-terms="http://www.mulesoft.org/schema/mule/semantic-terms" base="semantic-terms:org.mule.test.semantic.extension.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="url"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="domain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="urlPath"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="endpoint"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="kerberos-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:semantic-terms="http://www.mulesoft.org/schema/mule/semantic-terms" base="semantic-terms:org.mule.test.semantic.extension.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="url"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="domain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="urlPath"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="endpoint"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="ntlmDomain"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="unsecured-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:semantic-terms="http://www.mulesoft.org/schema/mule/semantic-terms" base="semantic-terms:org.mule.test.semantic.extension.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="url"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="domain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="urlPath"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="endpoint"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/semantic-terms" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SemanticTermsSourceType" substitutionGroup="mule:abstract-message-source" name="semantic-terms-source"></xs:element>
  <xs:complexType name="SemanticTermsSourceType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-redelivery-policy"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="endpoint"></xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" name="primaryNodeOnly">
          <xs:annotation>
            <xs:documentation>Whether this source should only be executed on the primary node when runnning in Cluster</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/semantic-terms" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="BillType" substitutionGroup="mule:abstract-operator" name="bill"></xs:element>
  <xs:complexType name="BillType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="tenant"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="account"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/semantic-terms" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="RedirectType" substitutionGroup="mule:abstract-operator" name="redirect"></xs:element>
  <xs:complexType name="RedirectType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="path"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/semantic-terms" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendType" substitutionGroup="mule:abstract-operator" name="send"></xs:element>
  <xs:complexType name="SendType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="password"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="accountId"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>