modules/extensions-spring-support/src/test/resources/schemas/test-oauth.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/test-oauth" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="oauth-authorization-code">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="consumerKey">
                      <xs:annotation>
                        <xs:documentation>The OAuth consumerKey as registered with the service provider</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="consumerSecret">
                      <xs:annotation>
                        <xs:documentation>The OAuth consumerSecret as registered with the service provider</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" default="authUrl" name="authorizationUrl">
                      <xs:annotation>
                        <xs:documentation>The service provider's authorization endpoint URL</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" default="accessTokenUrl" name="accessTokenUrl">
                      <xs:annotation>
                        <xs:documentation>The service provider's accessToken endpoint URL</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" default="defaultScope" name="scopes">
                      <xs:annotation>
                        <xs:documentation>The OAuth scopes to be requested during the dance. If not provided, it will default to those in the annotation</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionString" use="optional" name="resourceOwnerId">
                      <xs:annotation>
                        <xs:documentation>The resourceOwnerId which each component should use if it doesn't reference otherwise.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="before">
                      <xs:annotation>
                        <xs:documentation>The name of a flow to be executed right before starting the OAuth dance</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="after">
                      <xs:annotation>
                        <xs:documentation>The name of a flow to be executed right after an accessToken has been received</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="oauth-callback-config">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="listenerConfig">
                      <xs:annotation>
                        <xs:documentation>A reference to a &lt;http:listener-config /&gt; to be used in order to create the listener that will catch the access token callback endpoint.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="callbackPath">
                      <xs:annotation>
                        <xs:documentation>The path of the access token callback endpoint</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="authorizePath">
                      <xs:annotation>
                        <xs:documentation>The path of the local http endpoint which triggers the OAuth dance</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="externalCallbackUrl">
                      <xs:annotation>
                        <xs:documentation>If the callback endpoint is behind a proxy or should be accessed through a non direct URL, use this parameter to tell the OAuth provider the URL it should use to access the callback</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="oauth-store-config">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="optional" name="objectStore">
                      <xs:annotation>
                        <xs:documentation>A reference to the object store that should be used to store each resource owner id's data. If not specified, runtime will automatically provision the default one.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionDouble" use="optional" default="34.0" name="apiVersion"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="display"></xs:attribute>
          <xs:attribute type="mule:substitutableBoolean" use="optional" default="false" name="immediate"></xs:attribute>
          <xs:attribute type="mule:substitutableBoolean" use="optional" default="true" name="prompt"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="scopeless-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="oauth-authorization-code">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="consumerKey">
                      <xs:annotation>
                        <xs:documentation>The OAuth consumerKey as registered with the service provider</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="consumerSecret">
                      <xs:annotation>
                        <xs:documentation>The OAuth consumerSecret as registered with the service provider</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" default="authUrl" name="authorizationUrl">
                      <xs:annotation>
                        <xs:documentation>The service provider's authorization endpoint URL</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" default="accessTokenUrl" name="accessTokenUrl">
                      <xs:annotation>
                        <xs:documentation>The service provider's accessToken endpoint URL</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="scopes">
                      <xs:annotation>
                        <xs:documentation>The OAuth scopes to be requested during the dance. If not provided, it will default to those in the annotation</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionString" use="optional" name="resourceOwnerId">
                      <xs:annotation>
                        <xs:documentation>The resourceOwnerId which each component should use if it doesn't reference otherwise.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="before">
                      <xs:annotation>
                        <xs:documentation>The name of a flow to be executed right before starting the OAuth dance</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="after">
                      <xs:annotation>
                        <xs:documentation>The name of a flow to be executed right after an accessToken has been received</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="oauth-callback-config">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="listenerConfig">
                      <xs:annotation>
                        <xs:documentation>A reference to a &lt;http:listener-config /&gt; to be used in order to create the listener that will catch the access token callback endpoint.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="callbackPath">
                      <xs:annotation>
                        <xs:documentation>The path of the access token callback endpoint</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="authorizePath">
                      <xs:annotation>
                        <xs:documentation>The path of the local http endpoint which triggers the OAuth dance</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="externalCallbackUrl">
                      <xs:annotation>
                        <xs:documentation>If the callback endpoint is behind a proxy or should be accessed through a non direct URL, use this parameter to tell the OAuth provider the URL it should use to access the callback</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="oauth-store-config">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="optional" name="objectStore">
                      <xs:annotation>
                        <xs:documentation>A reference to the object store that should be used to store each resource owner id's data. If not specified, runtime will automatically provision the default one.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionDouble" use="optional" default="34.0" name="apiVersion"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="display"></xs:attribute>
          <xs:attribute type="mule:substitutableBoolean" use="optional" default="false" name="immediate"></xs:attribute>
          <xs:attribute type="mule:substitutableBoolean" use="optional" default="true" name="prompt"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/test-oauth" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="CaptureCallbackPayloadsType" substitutionGroup="mule:abstract-operator" name="capture-callback-payloads"></xs:element>
  <xs:complexType name="CaptureCallbackPayloadsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="request"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="state"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/test-oauth" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="GetConnectionType" substitutionGroup="mule:abstract-operator" name="get-connection"></xs:element>
  <xs:complexType name="GetConnectionType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/test-oauth" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="TokenExpiredType" substitutionGroup="mule:abstract-operator" name="token-expired"></xs:element>
  <xs:complexType name="TokenExpiredType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/test-oauth" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="UnauthorizeType" substitutionGroup="mule:abstract-operator" name="unauthorize">
    <xs:annotation>
      <xs:documentation>Deletes all the access token information of a given resource owner id so that it's impossible to execute any operation for that user without doing the authorization dance again</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UnauthorizeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="resourceOwnerId">
          <xs:annotation>
            <xs:documentation>The id of the resource owner which access should be invalidated</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>