patterns/core/src/main/resources/META-INF/mule-ws.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/ws"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/ws"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.4/mule.xsd" />
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.4/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            Mule Utilities for Web Services.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>WS</schemadoc:short-name>
            <schemadoc:page-title>WS Module</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>
    
    <!--==============================================================-->
    <!--   Flow Constructs                                            -->
    <!--==============================================================-->
    
    <xsd:element name="proxy" type="proxyType" substitutionGroup="mule:abstract-flow-construct">
        <xsd:annotation>
            <xsd:documentation>
                Deprecated: use pattern:web-service-proxy instead.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="proxyType">
        <xsd:annotation>
            <xsd:documentation>
                A simple web-service proxy, which handles WSDL rewriting.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="mule:baseFlowConstructType">
                <xsd:sequence>
                  <xsd:element ref="mule:abstract-inbound-endpoint" minOccurs="0" maxOccurs="1">
                      <xsd:annotation>
                          <xsd:documentation>
                              The endpoint on which this proxy is listening.
                          </xsd:documentation>
                      </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="mule:abstract-outbound-endpoint" minOccurs="0" maxOccurs="1">
                      <xsd:annotation>
                          <xsd:documentation>
                              The endpoint of the proxied web service.
                          </xsd:documentation>
                      </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="mule:legacy-abstract-exception-strategy" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute name="inboundAddress" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The address on which this proxy is listening.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="inboundEndpoint-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The endpoint on which this proxy is listening.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="outboundAddress" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The address of the proxied web service.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="outboundEndpoint-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The endpoint of the proxied web service.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="transformer-refs" type="xsd:NMTOKENS">
                    <xsd:annotation>
                        <xsd:documentation>
                            A list of the transformers that will be applied (in order) to the message before it is delivered to the proxied web service.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="responseTransformer-refs" type="xsd:NMTOKENS">
                    <xsd:annotation>
                        <xsd:documentation>
                            A list of the transformers that will be applied (in order) to the synchronous response of the proxied web service before it is returned via the transport.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="wsdlLocation" type="xsd:string" > 
                    <xsd:annotation> 
                      <xsd:documentation> 
                          The location URI of the WSDL for your service, if you don't want to use one provided by the target web service.
                      </xsd:documentation> 
                  </xsd:annotation> 
                </xsd:attribute> 
                <xsd:attribute name="wsdlFile" type="xsd:string" > 
                    <xsd:annotation> 
                      <xsd:documentation> 
                          The location of the WSDL file for your service, if you don't want to use one provided by the target web service.
                      </xsd:documentation> 
                  </xsd:annotation> 
                </xsd:attribute> 
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
