patterns/core/src/main/resources/META-INF/mule-pattern.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/pattern"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/pattern"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.7/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/ws"
                schemaLocation="http://www.mulesoft.org/schema/mule/ws/3.7/mule-ws.xsd" />
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.7/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            Mule Configuration Patterns.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>MCP</schemadoc:short-name>
            <schemadoc:page-title>MCP Module</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <!--==============================================================-->
    <!--   Flow Constructs                                            -->
    <!--==============================================================-->

    <xsd:element name="web-service-proxy" type="ws:proxyType" substitutionGroup="mule:abstract-flow-construct">
        <xsd:annotation>
            <xsd:documentation>
                Deprecated: use ws:proxy instead.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="simple-service" type="mule:simpleServiceType" substitutionGroup="mule:abstract-flow-construct">
        <xsd:annotation>
            <xsd:documentation>
                A simple request-response service, with no outbound router.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="bridge" type="mule:bridgeType" substitutionGroup="mule:abstract-flow-construct">
        <xsd:annotation>
            <xsd:documentation>
                A bridge with a single inbound endpoint and a single outbound endpoint.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="validator" type="mule:validatorType" substitutionGroup="mule:abstract-flow-construct">
        <xsd:annotation>
            <xsd:documentation>
                A validator with a single request-response inbound endpoint and a single outbound endpoint.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="http-proxy" type="httpProxyType" substitutionGroup="mule:abstract-flow-construct">
        <xsd:annotation>
            <xsd:documentation>
                A simple HTTP proxy that supports transformation and caching.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="httpProxyType">
        <xsd:annotation>
            <xsd:documentation>
                A simple HTTP proxy that supports transformation and caching.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="mule:baseFlowConstructType">
                <xsd:sequence>
                  <xsd:element ref="mule:abstract-inbound-endpoint" minOccurs="0" maxOccurs="1">
                      <xsd:annotation>
                          <xsd:documentation>
                              The endpoint on which this proxy is listening.
                          </xsd:documentation>
                      </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="mule:abstract-outbound-endpoint" minOccurs="0" maxOccurs="1">
                      <xsd:annotation>
                          <xsd:documentation>
                              The endpoint of the proxied web resource.
                          </xsd:documentation>
                      </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="mule:legacy-abstract-exception-strategy" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute name="inboundAddress" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The address on which this proxy is listening.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="inboundEndpoint-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The endpoint on which this proxy is listening.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="outboundAddress" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The address of the proxied web resource.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="outboundEndpoint-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The endpoint of the proxied web resource.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="transformer-refs" type="xsd:NMTOKENS">
                    <xsd:annotation>
                        <xsd:documentation>
                            A list of the transformers that will be applied (in order) to the message before it is delivered to the proxied web resource.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="responseTransformer-refs" type="xsd:NMTOKENS">
                    <xsd:annotation>
                        <xsd:documentation>
                            A list of the transformers that will be applied (in order) to the synchronous response of the proxied web resource before it is returned via the transport.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="cachingStrategy-ref" type="xsd:NMTOKENS">
                    <xsd:annotation>
                        <xsd:documentation>
                            A caching strategy to provide cached access to the proxied web resource.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
