transports/quartz/src/main/resources/META-INF/mule-quartz.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/quartz/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:spring="http://www.springframework.org/schema/beans"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/quartz/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <xsd:element name="connector" type="quartzConnectorType" substitutionGroup="mule:abstract-connector"/>

    <xsd:complexType name="quartzConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:sequence>
                    <xsd:element name="factory-property" type="mule:keyValueType" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="factory-properties" type="spring:mapType" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute name="scheduler-ref" type="xsd:NMTOKEN"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="addressAttributes">
        <xsd:attribute name="path" type="xsd:string"/>
        <xsd:attribute name="cronExpression" type="xsd:string"/>
        <xsd:attribute name="repeatInterval" type="mule:substitutableLong"/>
        <xsd:attribute name="repeatCount" type="mule:substitutableInt"/>
        <xsd:attribute name="startDelay" type="mule:substitutableLong"/>
        <xsd:attribute name="payload" type="xsd:string"/>
        <xsd:attribute name="jobDispatchEndpoint" type="xsd:string"/>
        <xsd:attribute name="jobReceiveEndpoint" type="xsd:string"/>
        <xsd:attribute name="jobReceiveTimeout" type="mule:substitutableLong"/>
        <!-- deprecated, don't expose here -->
        <!-- xsd:attribute name="payloadClassName" type="xsd:string"/ -->
        <!-- this is a runtime lookup - probably shouldn't be "-ref", at least until we have decent tests etc -->
        <xsd:attribute name="payloadRef" type="xsd:string"/>
        <xsd:attribute name="groupName" type="xsd:string"/>
        <xsd:attribute name="jobGroupName" type="xsd:string"/>
        <!-- this is a runtime lookup - probably shouldn't be "-ref", at least until we have decent tests etc -->
        <xsd:attribute name="jobRef" type="xsd:string"/>
        <xsd:attribute name="jobClass" type="xsd:string"/>
        <xsd:attribute name="jobObject" type="xsd:string"/>
    </xsd:attributeGroup>

</xsd:schema>
