transports/quartz/src/main/resources/META-INF/mule-quartz.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/quartz/2.2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:spring="http://www.springframework.org/schema/beans"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.2"
            xmlns:schemadoc="http://www.mulesource.org/schema/mule/schemadoc/2.2"
            targetNamespace="http://www.mulesource.org/schema/mule/quartz/2.2"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.2"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.2/mule.xsd"/>
    <xsd:import namespace = "http://www.mulesource.org/schema/mule/schemadoc/2.2"
                schemaLocation = "http://www.mulesource.org/schema/mule/schemadoc/2.2/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>The Quartz transport provides support for scheduling events and for triggering new events. An inbound quartz endpoint can be used to trigger inbound events that can be repeated, such as every second. Outbound quartz endpoints can be used to schedule an existing event to fire at a later date. Users can create schedules using cron expressions, and events can be persisted in a database.
            \\
            This transport makes use of the [Quartz Project|http://www.opensymphony.com/quartz/] at [Open Symphony|http://www.opensymphony.com/]. The Quartz site has more generic information about how to work with Quartz.
            \\
            This transport becomes very powerful when using cron expressions to trigger events, and some of the examples below provide examples of cron expressions. If you are not familiar with cron syntax, here is a [good
            tutorial|http://www.opensymphony.com/quartz/wikidocs/CronTriggers%20Tutorial.html].
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>Quartz</schemadoc:short-name>
            <schemadoc:page-title>Quartz Transport</schemadoc:page-title>
            <schemadoc:additional-documentation where="before-specific-elements">
                h1. Jobs

                Jobs are used to perform an action when a time trigger occurs from the Quartz transport. Mule provides a number of jobs for generating and scheduling events. These are detailed below. Users can also write their own jobs and hook them in using the custom-job type included with Mule.
            </schemadoc:additional-documentation>
            <schemadoc:transport-features receiveEvents="true" dispatchEvents="true" responseEvents="false" requestEvents="false"
                                          transactions="false" streaming="false">
                <schemadoc:inboundMEPs in-only="true"/>
                <schemadoc:outboundMEPs out-only="true"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="quartzConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                The Quartz connector is used to configure the default behavior for Quartz endpoints that reference the connector. Note if there is only one Quartz connector configured, all Quartz endpoints will use that connector.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="quartzConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:sequence>
                    <xsd:element name="factory-property" type="mule:keyValueType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                Set a property on the factory (see scheduler-ref).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="scheduler-ref" type="xsd:NMTOKEN">
                    <xsd:annotation>
                        <xsd:documentation>
                            Provides an implementation of the Quartz Scheduler interface. If no value is provided, a scheduler is retrieved from the StdSchedulerFactory. If no properties are provided, the getDefaultScheduler method is called. Otherwise, a new factory instance is created using the given properties, and a scheduler is retrieved using the getScheduler method.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType"
                 substitutionGroup="mule:abstract-outbound-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                An outbound Quartz endpoint allows existing events to be stored and fired at a later time/date. If you are using a persistent event store, the payload of the event must implement {{java.io.Serializable}}. You configure an {{org.quartz.Job}} implementation on the endpoint to tell it what action to take. Mule has some default jobs, but you can also write your own.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:sequence>
                    <xsd:element ref="abstract-job" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                A Quartz inbound endpoint can be used to generate events. It is most useful when you want to trigger a service at a given interval (or cron expression) rather than have an external event trigger the service.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:sequence>
                    <xsd:element ref="abstract-job" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                A global endpoint that can be used as a template to create inbound and outbound Quartz endpoints. Common configuration can be set on a global endpoint and then referenced using the @ref attribute on the local endpoint. Note that because jobs sometimes only work on inbound or outbound endpoints, they have to be set on the local endpoint.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:sequence>
                    <xsd:element ref="abstract-job" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="addressAttributes"/>
            </xsd:extension>

        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="abstract-job" abstract="true" type="abstractJobType">
        <xsd:annotation>
            <xsd:documentation>
                A placeholder for Quartz jobs that can be set on the endpoint.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="abstract-inbound-job" abstract="true" type="abstractJobType">
        <xsd:annotation>
            <xsd:documentation>
                A placeholder for Quartz jobs that can be set on inbound endpoints only.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="event-generator-job" type="eventGenerateJobType" substitutionGroup="abstract-job">
        <xsd:annotation>
            <xsd:documentation>
                An inbound endpoint job that will trigger a new event for the service according to the schedule on the endpoint. This is useful for periodically triggering a service without the need for an external event to occur.
            </xsd:documentation>
            <xsd:appinfo>
                <schemadoc:snippet lang="xml" id="example-1"
                                   sourcePath="transports/quartz/src/test/resources/quartz-namespace-config.xml"/>
                <schemadoc:snippet lang="xml" id="example-2"
                                   sourcePath="transports/quartz/src/test/resources/quartz-namespace-config.xml"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="eventGenerateJobType">
        <xsd:complexContent>
            <xsd:extension base="abstractJobType">
                <xsd:sequence>
                    <xsd:element name="payload" type="mule:dataReferenceType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                The payload of the newly created event. The payload can be a reference to a file, fixed string, or object configured as a Spring bean. If this value is not set, an event will be generated with an {{org.mule.transport.NullPayload}} instance.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint-polling-job" type="endpointPollingJobType" substitutionGroup="abstract-job">
        <xsd:annotation>
            <xsd:documentation>
                An inbound endpoint job that can be used to periodically read from an external source (via another endpoint). This can be useful for triggering time-based events from sources that do not support polling or for simply controlling the rate in which events are received from the source.
            </xsd:documentation>
            <xsd:appinfo>
                <schemadoc:snippet lang="xml" id="example-5"
                                   sourcePath="transports/quartz/src/test/resources/quartz-namespace-config.xml"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="endpointPollingJobType">
        <xsd:complexContent>
            <xsd:extension base="abstractJobType">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="job-endpoint" type="endpointRefType">
                        <xsd:annotation>
                            <xsd:documentation>
                                A reference to another configured endpoint from which events will be received.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="scheduled-dispatch-job" type="scheduledDispatchJobType" substitutionGroup="abstract-job">
        <xsd:annotation>
            <xsd:documentation>
                An outbound job that will schedule a job for dispatch at a later time/date. The event will get dispatched using the configured endpoint reference.
            </xsd:documentation>
            <xsd:appinfo>
                <schemadoc:snippet lang="xml" id="example-6"
                                   sourcePath="transports/quartz/src/test/resources/quartz-namespace-config.xml"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="scheduledDispatchJobType">
        <xsd:complexContent>
            <xsd:extension base="abstractJobType">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="job-endpoint" type="endpointRefType">
                        <xsd:annotation>
                            <xsd:documentation>The endpoint used to dispatch the scheduled event. The preferred approach is to create a global endpoint and reference it using the {{ref}} attribute. However, you can also use the {{address}} attribute to define a URI endpoint. You can use the {{timeout}} attribute to specify an arbitrary time-out value associated with the endpoint that can be used by jobs that block waiting to receive events.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="custom-job" type="customJobType" substitutionGroup="abstract-job">
        <xsd:annotation>
            <xsd:documentation>
                A custom job can be configured on inbound or outbound endpoints. You can create and configure your own job implementation and use it on a Quartz endpoint. A custom job can be configured as a bean in the XML configuration and referenced using this job.
            </xsd:documentation>
            <xsd:appinfo>
                <schemadoc:snippet lang="xml" id="example-4"
                                   sourcePath="transports/quartz/src/test/resources/quartz-namespace-config.xml"/>

            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="customJobType">
        <xsd:complexContent>
            <xsd:extension base="abstractJobType">
                <xsd:attribute name="job-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The bean name or ID of the custom job to use when this job gets executed.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="custom-job-from-message" type="customFromMessageJobType" substitutionGroup="abstract-job">
        <xsd:annotation>
            <xsd:documentation>
                Allows a job to be stored on the current message. This can only be used on outbound endpoints. When the message is received, the job is read and the job is added to the scheduler with the current message. This allows for custom scheduling behavior determined by the message itself. Usually the service or a transformer would create the job on the message based on application-specific logic. Any Mule-supported expressions can be used to read the job from the message. Typically, you add the job as a header, but an attachment could also be used.
            </xsd:documentation>
            <xsd:appinfo>
                <schemadoc:snippet lang="xml" id="example-3"
                                   sourcePath="transports/quartz/src/test/resources/quartz-namespace-config.xml"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="customFromMessageJobType">
        <xsd:complexContent>
            <xsd:extension base="abstractJobType">
                <xsd:attributeGroup ref="mule:expressionAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="abstractJobType">
        <xsd:annotation>
            <xsd:documentation>
                The base element type for all Quartz jobs
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="groupName" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The group name of the scheduled job
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="jobGroupName" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The job group name of the scheduled job.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:attributeGroup name="addressAttributes">
        <xsd:attribute name="jobName" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The name to associate with the job on the endpoint. This is only really used internally when storing events.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cronExpression" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The cron expression to schedule events at specified dates/times. This attribute or repeatInterval is required. 
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="repeatInterval" type="mule:substitutableLong">
            <xsd:annotation>
                <xsd:documentation>
                    The number of milliseconds between two events. This attribute or cronExpression is required.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="repeatCount" type="mule:substitutableInt">
            <xsd:annotation>
                <xsd:documentation>
                    The number of events to be scheduled. This value defaults to -1, which means that the events will be scheduled indefinitely.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="startDelay" type="mule:substitutableLong">
            <xsd:annotation>
                <xsd:documentation>
                    The number of milliseconds that will elapse before the first event is fired.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:complexType name="endpointRefType">
        <xsd:annotation>
            <xsd:documentation>
                Defines an endpoint reference. The preferred approach is to create a global endpoint and reference that. However, you can also use the {{address}} attribute to define a URI endpoint.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="ref" type="xsd:NMTOKEN">
            <xsd:annotation>
                <xsd:documentation>
                    A reference (name) of a global endpoint configured in your Mule instance. This is the preferred way of configuring an endpoint.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="address" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    A URI address string that will be used to construct a new endpoint for the Quartz endpoint to use.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timeout" type="mule:substitutableInt">
            <xsd:annotation>
                <xsd:documentation>
                    An arbitrary time-out value associated with the endpoint that can be used by jobs that block waiting to receive events.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>
