modules/cxf/src/test/resources/service/xsd/SLI.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://SalesLead/CMS"
	 targetNamespace="http://SalesLead/CMS"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:element name="SLIRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageDTS">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="26"/>  
							<xs:maxLength value="30"/> 
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MessageDTSTZOffset">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="6"/>  
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RegionID">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="99"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ClientID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>  
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LocationNumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="5"/>
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RequestMessages">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RequestMessage" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Header">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MessageType">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="6"/> 
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Revision">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="3"/>
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MessageID">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RegionID">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:minInclusive value="0"/>
																<xs:maxInclusive value="99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ClientID">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LocationNumber">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="5"/>
																<xs:maxLength value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EncryptionMethod">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:minInclusive value="0"/>
																<xs:maxInclusive value="99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ApprovalFlowType">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:minInclusive value="0"/>
																<xs:maxInclusive value="99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Body">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CreationDTS">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="26"/>
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CreationDTSTZOffset">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="6"/>
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EncryptedData" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>																								
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SLIResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageDTS">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="26"/>
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MessageDTSTZOffset">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="6"/>
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RegionID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="99"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ClientID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LocationNumber" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="5"/>
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="StatusCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="3"/>
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ResponseMessages" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ResponseMessage" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Header" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MessageType" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="6"/>
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Revision" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="3"/>
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MessageID" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RegionID" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:minInclusive value="0"/>
																<xs:maxInclusive value="99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ClientID" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LocationNumber" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="5"/>
																<xs:maxLength value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EncryptionMethod">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:minInclusive value="0"/>
																<xs:maxInclusive value="99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="StatusCode" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="3"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Body" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CreationDTS" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="26"/>
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CreationDTSTZOffset" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="6"/>
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ApprovalResponse" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ApprovalAmount" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>																					
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SLIFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ErrorCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ErrorMessage" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>