modules/cxf/src/test/resources/issues/TestSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cxf.module.mule.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.module.mule.org/">
    <xs:element name="echo" type="tns:echo"/>
    <xs:element name="echoResponse" type="tns:echoResponse"/>
    <xs:complexType name="echo">
        <xs:sequence>
            <xs:element minOccurs="0" name="text" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="echoResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="text" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>