transports/xmpp/src/main/resources/META-INF/mule-xmpp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/xmpp"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/xmpp"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.7/mule.xsd" />
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.7/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            The XMPP transport connects Mule to an XMPP (Jabber) server.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>XMPP</schemadoc:short-name>
            <schemadoc:page-title>XMPP Transport</schemadoc:page-title>
            <schemadoc:transport-features receiveEvents="true" dispatchEvents="true"
                                          requestEvents="true"
                                          transactions="false" streaming="false">
                <schemadoc:MEPs supported="one-way, request-response" default="one-way"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="xmppConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Connect Mule to an XMPP (Jabber) server to send or receive data via the network.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="xmppConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:attribute name="host" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Host name or IP address of the Jabber server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="port" type="mule:substitutablePortNumber">
                    <xsd:annotation>
                        <xsd:documentation>
                            The port number to connect on. Default port is 5222.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="serviceName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The service name to use when connecting the Jabber server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="user" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The username used for authenitcation.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="password" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The password for the user being authenticated.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="resource" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The resource portion of the address, such as user@host/resource or domain/resource.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="createAccount" type="mule:substitutableBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            If true, an attempt is made to create an account using the user and password while connecting. Default is false.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                The endpoint on which this connector receives messages from the xmpp connection.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                The endpoint to which this connector sends messages.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint">
        <xsd:annotation>
            <xsd:documentation>
                An endpoint "template" that can be used to construct an inbound or outbound endpoint elsewhere in the configuration by referencing the endpoint name.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="addressAttributes">
        <xsd:attribute name="recipient" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The Jabber ID of the intended recipient of the messages, such as ross@myco.com. For GROUPCHAT type endpoints, this is the address of the chat to join.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="from" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The user who sent the message. Ignored in GROUPCHAT type endpoints.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="propertyAttributes">
        <xsd:attribute name="type" default="CHAT">
            <xsd:annotation>
                <xsd:documentation>
                    The type of the Jabber message to send: MESSAGE, CHAT or GROUPCHAT.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:NMTOKEN">
                    <xsd:enumeration value="MESSAGE"/>
                    <xsd:enumeration value="CHAT"/>
                    <xsd:enumeration value="GROUPCHAT"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>

        <xsd:attributeGroup ref="messageAttributes"/>
        <xsd:attributeGroup ref="chatAttributes"/>
        <xsd:attributeGroup ref="multiUserChatAttributes"/>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="messageAttributes">
        <xsd:attribute name="subject" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The subject of the message (applies to type=MESSAGE endpoints only).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="chatAttributes">
        <!-- TODO xmpp: use the thread attribute in code (currently unimplemented) -->
        <xsd:attribute name="thread" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The thread to which the message belongs.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="multiUserChatAttributes">
        <xsd:attribute name="nickname" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The user's nickname in a groupchat.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:element name="xmpp-to-object-transformer" type="mule:abstractTransformerType" substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                The xmpp-to-object-transformer element configures a transformer that converts an XMPP message into an object by extracting the message payload.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="object-to-xmpp-transformer" type="mule:abstractTransformerType" substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                The object-to-xmpp-transformer element configures a transformer that converts an object into an XMPP message.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>
