transports/tcp/src/main/resources/META-INF/mule-tcp.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/tcp/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/tcp/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"/>

    <xsd:element name="connector" type="tcpConnectorType"/>

    <xsd:complexType name="tcpConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:attribute name="sendBufferSize" type="xsd:int"/>
                <xsd:attribute name="receiveBufferSize" type="xsd:int"/>
                <xsd:attribute name="receiveBacklog" type="xsd:int"/>
                <xsd:attribute name="socketLinger" type="xsd:int"/>
                <xsd:attribute name="sendTcpNoDelay" type="xsd:boolean"/>
                <xsd:attribute name="tcpProtocolClassName" type="xsd:NMTOKEN"/>
                <xsd:attribute name="sendTimeout" type="xsd:int"/>
                <xsd:attribute name="receiveTimeout" type="xsd:int"/>
                <xsd:attribute name="keepSendSocketOpen" type="xsd:boolean"/>
                <xsd:attribute name="keepAlive" type="xsd:boolean"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
