transports/tcp/src/main/resources/META-INF/mule-tcp.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/tcp/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/tcp/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"/>

    <xsd:element name="connector">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="mule:connectorType">
                    <xsd:attribute name="bufferSize" type="xsd:int"/>
                    <xsd:attribute name="protocol" type="xsd:NMTOKEN"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>