modules/acegi/src/main/resources/META-INF/mule-acegi.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/acegi/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/acegi/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <xsd:complexType name="securityManagerType">
        <xsd:annotation>
            <xsd:documentation>
                This is the security provider type that is used to configure Acegi related functionality.
                It should be used as the "xsi:type" attribute in a "security-manager" element.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="mule:securityManagerType">
                <xsd:sequence>
                    <xsd:element ref="delegate-security-provider"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="securityProperty">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="delegate-security-provider" type="delegateSecurityProviderType">
        <xsd:annotation>
            <xsd:documentation>
                An Acegi-based security provider that delegates authorization to some
                other provider.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="delegateSecurityProviderType">
        <xsd:complexContent>
            <xsd:extension base="mule:securityProviderType">
                <xsd:sequence>
                    <xsd:element name="security-property" type="securityProperty" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="delegate-ref" type="xsd:NMTOKEN" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="securityFilterType">
        <xsd:complexContent>
            <xsd:extension base="mule:securityFilterType">
                <xsd:sequence>
                    <xsd:element ref="http-security-filter"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="http-security-filter" type="httpSecurityFilterType">
        <xsd:annotation>
            <xsd:documentation>
                This appears to authenticate users via information in standard HTTP headers.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="httpSecurityFilterType">
        <xsd:complexContent>
            <xsd:extension base="mule:securitySpecificFilterType">
                <xsd:attribute name="realm" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
