modules/jersey/src/main/resources/META-INF/mule-jersey.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/jersey"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            targetNamespace="http://www.mulesoft.org/schema/mule/jersey"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.7/mule.xsd"/>

    <xsd:element name="exception-mapper" type="otherResourcesType">
        <xsd:annotation>
            <xsd:documentation>
                Configure a class to act as the exception mapper for this resource. The class must implement the interface javax.ws.rs.ext.ExceptionMapper.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="context-resolver" type="otherResourcesType">
        <xsd:annotation>
            <xsd:documentation>
                Configure a class to act as the context resolver for this resource. The class must implement the interface javax.ws.rs.ext.ContextResolver.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="otherResourcesType">
        <xsd:complexContent>
            <xsd:extension base="mule:annotatedType">
                <xsd:attribute name="class" type="mule:substitutableClass" use="required" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="resources" type="jerseyComponentType"
        substitutionGroup="mule:abstract-component">
        <xsd:annotation>
            <xsd:documentation>
                Represents a Jersey component.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="jerseyComponentType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractComponentType">
                <xsd:sequence>
                    <xsd:element ref="mule:abstract-component" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="package" type="packageType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                These are the packages that Jersey should scan for annotated resources
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="property" type="mule:keyValueType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                These are the ResourceConfig properties
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="exception-mapper" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element ref="context-resolver" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
                <xsd:attributeGroup ref="componentAttributes" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="packageType">
        <xsd:annotation>
            <xsd:documentation>
                Represents the name of a Java package
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="packageName" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:attributeGroup name="componentAttributes">
    </xsd:attributeGroup>
</xsd:schema>
