tests/integration/src/test/resources/org/mule/test/integration/xml/schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
 targetNamespace="http://foo.com"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:foo="http://foo.com">
  <xs:element name="this" type="foo:thisType"/>
  <xs:complexType name="thisType">
    <xs:sequence>
      <xs:element type="xs:string" name="is"/>
      <xs:element type="xs:string" name="basic"/>
      <xs:element type="xs:string" name="that"/>
      <xs:element type="xs:string" name="used"/>
      <xs:element type="xs:string" name="really" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="simple"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
