tests/integration/src/test/resources/org/mule/test/integration/xml/schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com
    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
 targetNamespace="http://foo.com"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:foo="http://foo.com">
  <xs:element name="this" type="foo:thisType"/>
  <xs:complexType name="thisType">
    <xs:sequence>
      <xs:element type="xs:string" name="is"/>
      <xs:element type="xs:string" name="basic"/>
      <xs:element type="xs:string" name="that"/>
      <xs:element type="xs:string" name="used"/>
      <xs:element type="xs:string" name="really" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="simple"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
