modules/xml/src/test/resources/schema/WarehouseStockNo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.shipwire.com/warehouse"
		xmlns:tns="http://www.shipwire.com/warehouse" 
		elementFormDefault="qualified">

	<complexType name="WarehouseStockNo">
    	<sequence>
    		<element name="StockNumber" type="string" minOccurs="1" maxOccurs="1" />
    		<element name="MerchantId" type="string" minOccurs="1" maxOccurs="1" />
    	</sequence>
    </complexType>

</schema>