modules/xml/src/main/resources/META-INF/mule-xml-transformer.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/xml-transformer/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:spring="http://www.springframework.org/schema/beans"
            xmlns:mxml="http://www.mulesource.org/schema/mule/xml/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/xml-transformer/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/xml/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/xml/2.0/mule-xml.xsd" />

    <xsd:complexType name="xmlTransformerType">
        <xsd:complexContent>
            <xsd:extension base="mule:transformerType">
                <xsd:attribute name="outputEncoding" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="dom-to-xml" type="xmlTransformerType"/>

    <xsd:element name="jxpath-extractor" type="jxpathExtractorType"/>
    <xsd:complexType name="jxpathExtractorType">
        <xsd:complexContent>
            <xsd:extension base="mule:transformerType">
                <xsd:attribute name="expression" type="xsd:string"/>
                <xsd:attribute name="singleResult" type="mule:substitutableBoolean"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="object-to-xml" type="objectToXmlType"/>
    <xsd:complexType name="objectToXmlType">
        <xsd:complexContent>
            <xsd:extension base="mule:transformerType">
                <xsd:attribute name="acceptUMOMessage" type="mule:substitutableBoolean"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="xml-to-dom" type="xmlTransformerType"/>
    <xsd:element name="xml-to-object" type="mule:transformerType"/>

    <xsd:element name="xslt" type="xsltTransformerType"/>
    <xsd:complexType name="xsltTransformerType">
        <xsd:complexContent>
            <xsd:extension base="xmlTransformerType">
                <xsd:sequence>
                    <xsd:any namespace="http://www.w3.org/1999/XSL/Transform" minOccurs="0" maxOccurs="1" processContents="lax"/>
                </xsd:sequence>
                <xsd:attribute name="maxIdleTransformers" type="mule:substitutableInt"/>
                <xsd:attribute name="maxActiveTransformers" type="mule:substitutableInt"/>
                <xsd:attribute name="xslt" type="xsd:string"/>
                <xsd:attribute name="xsl-file" type="xsd:string"/>
                <xsd:attribute name="transformerFactoryClass" type="xsd:NMTOKEN"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
