modules/xml/src/main/resources/META-INF/mule-xml-filter.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/xml-filter/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:spring="http://www.springframework.org/schema/beans"
            xmlns:mxml="http://www.mulesource.org/schema/mule/xml/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/xml-filter/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/xml/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/xml/2.0/mule-xml.xsd" />

    <xsd:element name="jxpath" type="jxpathFilterType"/>
    <xsd:complexType name="jxpathFilterType">
        <xsd:complexContent>
            <xsd:extension base="mule:moduleFilterType">
                <!-- mirrors mule:patternFilterType -->
                <xsd:choice>
                    <xsd:element name="namespace" type="mxml:namespaceType" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="contextProperty" type="spring:propertyType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:choice>
                <xsd:attribute name="pattern" type="xsd:string" use="required"/>
                <xsd:attribute name="lenient" type="mule:substitutableBoolean" default="true"/>
                <xsd:attribute name="expectedValue" type="xsd:string"/>
           </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="is-xml" type="isXmlFilterType"/>
    <xsd:complexType name="isXmlFilterType">
        <xsd:complexContent>
            <xsd:extension base="mule:moduleFilterType"/>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
