modules/xml/src/main/resources/META-INF/mule-xml-outbound.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/xml-outbound/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:spring="http://www.springframework.org/schema/beans"
            xmlns:mxml="http://www.mulesource.org/schema/mule/xml/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/xml-outbound/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/xml/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/xml/2.0/mule-xml.xsd" />

    <!-- if we decide to integrate these in the mule: namespace then we should probably modify
         the names to include "xml" -->

    <xsd:element name="message-splitter" type="messageSplitterType"/>
    <xsd:complexType name="messageSplitterType">
        <xsd:complexContent>
            <xsd:extension base="mule:messageSplitterOutboundRouterType">
                <!-- these appear after endpoints, which is ugly.  refactor? -->
                <xsd:sequence>
                    <xsd:element name="namespace" type="mxml:namespaceType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="splitExpression" type="xsd:string"/>
                <xsd:attribute name="externalSchemaLocation" type="xsd:string"/>
                <xsd:attribute name="validateSchema" type="mule:substitutableBoolean"/>
           </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="round-robin-splitter" type="roundRobinSplitterType"/>
    <xsd:complexType name="roundRobinSplitterType">
        <xsd:complexContent>
            <xsd:extension base="messageSplitterType">
                <xsd:attribute name="endpointFiltering" type="mule:substitutableBoolean"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


</xsd:schema>
