modules/xml/src/main/resources/META-INF/mule-xml.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/xml/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:spring="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.mulesource.org/schema/mule/xml/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="jxpath-filter">
        <xsd:complexType mixed="true">
            <xsd:complexContent>
                <xsd:extension base="mule:expressionFilterType">
                    <xsd:choice>
                        <xsd:element name="namespace" type="namespaceType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="contextProperty" type="spring:propertyType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:choice>
                    <xsd:attribute name="lenient" type="xsd:boolean" default="true"/>
                    <xsd:attribute name="expectedValue" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="namespaceType">
        <xsd:attribute name="prefix" type="xsd:string" use="required"/>
        <xsd:attribute name="uri" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:element name="isXml-filter" type="mule:filterType"/>

</xsd:schema>