modules/management/src/main/resources/META-INF/mule-management.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.mulesource.org/schema/mule/management/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:spring="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.mulesource.org/schema/mule/management/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>

    <!-- JMX -->

    <xsd:element name="jmx-server">
        <xsd:complexType mixed="true">
            <xsd:choice>
                <xsd:element name="connector-server" type="connectorServerType" minOccurs="0" maxOccurs="1"/>
            </xsd:choice>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="connectorServerType">
        <xsd:attribute name="url" type="xsd:string" use="required"/>
        <xsd:attribute name="rebind" type="xsd:boolean" use="optional" default="true"/>
    </xsd:complexType>

    <xsd:element name="jmx-mx4j-adapter">
        <xsd:complexType mixed="true">
            <xsd:attribute name="jmxAdaptorUrl" type="xsd:string"/>
            <xsd:attribute name="adaptor" type="xsd:string"/>
            <xsd:attribute name="mBeanServer" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="jmx-log4j">
        <xsd:complexType mixed="true">
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="jmx-default-config">
        <xsd:complexType mixed="true">
            <xsd:attribute name="registerMx4jAdapter" type="xsd:boolean"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="jmx-notifications">
        <xsd:complexType mixed="true">
            <xsd:attribute name="registerdefaultListner" type="xsd:boolean"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="log4j-notifications">
        <xsd:complexType mixed="true">
            <xsd:attribute name="logName" type="xsd:string"/>
            <xsd:attribute name="logConfigFile" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="chainsaw-notifications">
        <xsd:complexType mixed="true">
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="level-mapping">
                    <xsd:complexType>
                        <xsd:attribute name="severity" default="INFO">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:NMTOKEN">
                                    <xsd:enumeration value="DEBUG"/>
                                    <xsd:enumeration value="INFO"/>
                                    <xsd:enumeration value="WARN"/>
                                    <xsd:enumeration value="ERROR"/>
                                    <xsd:enumeration value="FATAL"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="eventId" type="xsd:string" use="required"/>
                    </xsd:complexType>

                </xsd:element>
            </xsd:choice>
            <xsd:attribute name="chainsawHost" type="xsd:string" use="required"/>
            <xsd:attribute name="chainsawPort" type="xsd:int" use="required"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="publish-notifications">
        <xsd:complexType mixed="true">
            <xsd:attribute name="endpointAddress" type="xsd:string" use="required"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>


    <!-- Rmi Agent -->
    <xsd:element name="rmi-server">
        <xsd:complexType mixed="true">
            <xsd:attribute name="serverUri" type="xsd:string"/>
            <xsd:attribute name="createRegistry" type="xsd:boolean"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>