modules/management/src/main/resources/META-INF/mule-management.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/management/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:spring="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.mulesource.org/schema/mule/management/2.0" elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <xsd:complexType name="agentType">
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <!-- JMX Agent-->
    <xsd:element name="jmx-server">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="agentType">
                    <xsd:sequence>
                        <xsd:element name="connector-server" type="connectorServerType" minOccurs="0" />
                        <xsd:element name="mBeanServer" type="mule:objectFactoryType" minOccurs="0" />
                        <xsd:element name="credentials" type="mule:mapType" minOccurs="0" />
                    </xsd:sequence>
                    <xsd:attribute name="locateServer" type="mule:substitutableBoolean" default="true" />
                    <xsd:attribute name="createServer" type="mule:substitutableBoolean" default="true" />
                    <xsd:attribute name="enableStatistics" type="mule:substitutableBoolean" default="true" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="connectorServerType">
        <xsd:attribute name="url" type="xsd:string" use="required" />
        <xsd:attribute name="rebind" type="mule:substitutableBoolean" use="optional" default="true" />
    </xsd:complexType>

    <!-- JMX Adaptors -->
    <xsd:element name="jmx-mx4j-adaptor">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="agentType">
                    <xsd:sequence>
                        <xsd:element name="socketFactoryProperties" type="mule:mapType" minOccurs="0" />
                    </xsd:sequence>
                    <xsd:attribute name="jmxAdaptorUrl" type="xsd:string" />
                    <xsd:attribute name="login" type="xsd:string" />
                    <xsd:attribute name="password" type="xsd:string" />
                    <xsd:attribute name="authenticationMethod" default="basic">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:NMTOKEN">
                                <xsd:enumeration value="none" />
                                <xsd:enumeration value="basic" />
                                <xsd:enumeration value="digest" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="cacheXsl" type="xsd:string" default="true" />
                    <xsd:attribute name="xslFilePath" type="xsd:string" />
                    <xsd:attribute name="pathInJar" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <!--  JMX Agents -->

    <!-- Rmi Registry Agent -->
    <xsd:element name="rmi-server">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="agentType">
                    <xsd:attribute name="serverUri" type="xsd:string" />
                    <xsd:attribute name="createRegistry" type="mule:substitutableBoolean" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="jmx-log4j">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="agentType" />
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="jmx-default-config">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="agentType">
                    <xsd:sequence>
                        <xsd:element name="credentials" type="mule:mapType" minOccurs="0" />
                    </xsd:sequence>
                    <xsd:attribute name="registerMx4jAdapter" type="mule:substitutableBoolean" />
                    <xsd:attribute name="host" type="xsd:string" />
                    <xsd:attribute name="port" type="mule:substitutablePortNumber" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <!-- JMX Notifications -->

    <xsd:complexType name="notificationLoggerAgentType">
        <xsd:complexContent>
            <xsd:extension base="agentType">
                <xsd:attribute name="ignoreManagerNotifications" type="mule:substitutableBoolean" default="false"></xsd:attribute>
                <xsd:attribute name="ignoreModelNotifications" type="mule:substitutableBoolean" default="false"></xsd:attribute>
                <xsd:attribute name="ignoreComponentNotifications" type="mule:substitutableBoolean" default="false"></xsd:attribute>
                <xsd:attribute name="ignoreConnectionNotifications" type="mule:substitutableBoolean" default="false"></xsd:attribute>
                <xsd:attribute name="ignoreSecurityNotifications" type="mule:substitutableBoolean" default="false"></xsd:attribute>
                <xsd:attribute name="ignoreManagementNotifications" type="mule:substitutableBoolean" default="false"></xsd:attribute>
                <xsd:attribute name="ignoreCustomNotifications" type="mule:substitutableBoolean" default="false"></xsd:attribute>
                <xsd:attribute name="ignoreAdminNotifications" type="mule:substitutableBoolean" default="false"></xsd:attribute>
                <xsd:attribute name="ignoreMessageNotifications" type="mule:substitutableBoolean" default="false"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="jmx-notifications">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="notificationLoggerAgentType" />
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="log4j-notifications">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="notificationLoggerAgentType">
                    <xsd:sequence>
                        <xsd:element name="level-mapping" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:attribute name="severity" type="serveritySimpleType" default="INFO" />
                                <xsd:attribute name="eventId" type="xsd:string" use="required" />
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="logName" type="xsd:string" />
                    <xsd:attribute name="logConfigFile" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="chainsaw-notifications">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="notificationLoggerAgentType">
                    <xsd:sequence>
                        <xsd:element name="level-mapping" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:attribute name="severity" type="serveritySimpleType" default="INFO" />
                                <xsd:attribute name="eventId" type="xsd:string" use="required" />
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="chainsawHost" type="xsd:string" use="required" />
                    <xsd:attribute name="chainsawPort" type="mule:substitutablePortNumber" use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="serveritySimpleType">
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="DEBUG" />
            <xsd:enumeration value="INFO" />
            <xsd:enumeration value="WARN" />
            <xsd:enumeration value="ERROR" />
            <xsd:enumeration value="FATAL" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="publish-notifications">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="notificationLoggerAgentType">
                    <xsd:attribute name="endpointAddress" type="xsd:string" use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
