modules/management/src/main/resources/META-INF/mule-management.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/management" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:spring="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.mulesoft.org/schema/mule/management" elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.8/mule.xsd" />
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"/>

    <!-- JMX Agent-->
    <xsd:element name="jmx-server" type="jmxServerType" substitutionGroup="mule:abstract-agent"/>
    <xsd:complexType name="jmxServerType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractAgentType">
                <xsd:sequence>
                    <xsd:element name="connector-server" type="connectorServerType" minOccurs="0" >
                    <xsd:annotation>
                        <xsd:documentation>
                            Configures the remote JMX connector server by specifying the URL and whether to rebind.
                        </xsd:documentation>
                    </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="credentials" type="mule:mapType" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation>
                            A map of username/password entries used to authenticate remote JMX access. If not specified, remote access is not restricted.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="server-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The mBean server to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="locateServer" type="mule:substitutableBoolean" default="true" >
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether the agent should try locating an MBeanServer instance before creating one.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="createServer" type="mule:substitutableBoolean" default="false" >
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether the agent should create an MBean server if one couldn't be found or locateServer was set to false.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="createRmiRegistry" type="mule:substitutableBoolean" default="true" >
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether the agent should try locating an RmiRegistry instance before creating one.  Unless there is a RmiRegistry
                            explicitly created on the port defined by the connector-server URI, this must be set to true which is the default
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="enableStatistics" type="mule:substitutableBoolean" default="true" >
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether statistics reporting is enabled for the Mule instance.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="connectorServerType">
        <xsd:attribute name="url" type="xsd:string" use="required" />
        <xsd:attribute name="rebind" type="mule:substitutableBoolean" use="optional" default="true" />
    </xsd:complexType>

    <!-- JMX Adaptors -->
    <xsd:element name="jmx-mx4j-adaptor" type="jmxMx4jAdaptorType" substitutionGroup="mule:abstract-agent"/>
    <xsd:complexType name="jmxMx4jAdaptorType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractAgentType">
                <xsd:attribute name="jmxAdaptorUrl" type="xsd:string" >
                    <xsd:annotation>
                        <xsd:documentation>
                            The URL of the JMX web console. The default is http://localhost:9999.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="login" type="xsd:string" >
                    <xsd:annotation>
                        <xsd:documentation>
                            The login name for accessing the JMX web console.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="password" type="xsd:string" >
                    <xsd:annotation>
                        <xsd:documentation>
                            The password for accessing the JMX web console.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="authenticationMethod" default="basic">
                   <xsd:annotation>
                        <xsd:documentation>
                            The type of authentication to perform when the login and password are set: basic (the default), digest, or none.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:NMTOKEN">
                            <xsd:enumeration value="none" />
                            <xsd:enumeration value="basic" />
                            <xsd:enumeration value="digest" />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="cacheXsl" type="xsd:string" default="true" >
                    <xsd:annotation>
                        <xsd:documentation>
                            Indicates whether to cache the transformation objects, which speeds-up the process. It is usually set to true, but you can set it to false for easier testing. 
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="xslFilePath" type="xsd:string" >
                    <xsd:annotation>
                        <xsd:documentation>
                            Specifies the path of the XSL files used to customize the adaptor's stylesheet. If you specify a directory, it assumes that XSL files are located in the directory. If you specify a .jar or .zip file, it assumes that the files are located inside. Specifying a file system is especially useful for testing. 
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="pathInJar" type="xsd:string" >
                    <xsd:annotation>
                        <xsd:documentation>
                            If the xslFilePath is a JAR file, specifies the directory in the JAR where the XSL files are located.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <!--  JMX Agents -->

    <!-- Rmi Registry Agent -->
    <xsd:element name="rmi-server" type="rmiServerTyper" substitutionGroup="mule:abstract-agent"/>
    <xsd:complexType name="rmiServerTyper">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractAgentType">
                <xsd:attribute name="serverUri" type="xsd:string" />
                <xsd:attribute name="createRegistry" type="mule:substitutableBoolean" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="jmx-log4j" type="jmxLog4jType" substitutionGroup="mule:abstract-agent"/>
    <xsd:complexType name="jmxLog4jType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractAgentType" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="jmx-default-config" type="jmxDefaultConfigType" substitutionGroup="mule:abstract-agent"/>
    <xsd:complexType name="jmxDefaultConfigType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractAgentType">
                <xsd:sequence>
                    <xsd:element name="credentials" type="mule:mapType" minOccurs="0" >
                    <xsd:annotation>
                        <xsd:documentation>
                            A map of username/password properties for remote JMX access. The configuration option delegates to the JmxAgent. 
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="registerMx4jAdapter" type="mule:substitutableBoolean" >
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to enable the MX4J adaptor.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="registerLog4j" type="mule:substitutableBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to enable the Log4j agent.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="host" type="xsd:string" >
                    <xsd:annotation>
                        <xsd:documentation>
                            DEPRECATED: The host attribute for jmx-default-config is deprecated, for multi-homed hosts consider using
                            instead the Java system property java.rmi.server.hostname.
                            The host to bind to. Normally, override this only for multi-NIC servers (default is localhost).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="port" type="mule:substitutablePortNumber" >
                    <xsd:annotation>
                        <xsd:documentation>
                            The port on which the RMI registry will run. This is also used for remote JMX management. Default is 1099.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="jmxAuthenticator-ref" type="xsd:string" >
                    <xsd:annotation>
                        <xsd:documentation>
                            A reference to a custom jmxAuthenticator.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <!-- JMX Notifications -->

    <xsd:complexType name="notificationLoggerAgentType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractAgentType">
                <xsd:attribute name="ignoreManagerNotifications" type="mule:substitutableBoolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to ignore notifications for state changes on the Mule manager such as initializing, starting, and stopping.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ignoreConnectionNotifications" type="mule:substitutableBoolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to ignore notifications when a connector attempts to connect to its underlying resource. Notifications are fired when a connection is made, released, or the connection attempt fails.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ignoreSecurityNotifications" type="mule:substitutableBoolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to ignore notifications about security.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ignoreManagementNotifications" type="mule:substitutableBoolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to ignore notifications for when a request is denied security access.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ignoreCustomNotifications" type="mule:substitutableBoolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to ignore notifications fired by objects to custom notification listeners.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ignoreAdminNotifications" type="mule:substitutableBoolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to ignore administrative notifications about requests being received by the Mule Admin agent. These are usually trigged by MuleClient calls using the RemoteDispatcher, which proxies calls to a remote server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ignoreMessageNotifications" type="mule:substitutableBoolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to ignore message notifications. These notifications are fired when an event is sent or received in the system. They are very good for tracing, but they create a performance impact, so they should only be used during testing. 
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ignoreMessageProcessorNotifications" type="mule:substitutableBoolean" default="true">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether to ignore message processor notifications. These notifications are fired when an event is processed by a message processor. They are very good for tracing, but they create a performance impact, so they should only be used during testing. Disabled by default
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="jmx-notifications" type="jmxNotificationType" substitutionGroup="mule:abstract-agent"/>
    <xsd:complexType name="jmxNotificationType">
        <xsd:complexContent>
            <xsd:extension base="notificationLoggerAgentType" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="log4j-notifications" type="log4jNotificationType" substitutionGroup="mule:abstract-agent"/>
    <xsd:complexType name="log4jNotificationType">
        <xsd:complexContent>
            <xsd:extension base="notificationLoggerAgentType">
                <xsd:sequence>
                    <xsd:element name="level-mapping" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:attribute name="severity" type="serveritySimpleType" default="INFO" />
                            <xsd:attribute name="eventId" type="xsd:string" use="required" />
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="logName" type="xsd:string" />
                <xsd:attribute name="logConfigFile" type="xsd:string" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="chainsaw-notifications" type="chainsawNotificationType" substitutionGroup="mule:abstract-agent"/>
    <xsd:complexType name="chainsawNotificationType">
        <xsd:complexContent>
            <xsd:extension base="notificationLoggerAgentType">
                <xsd:sequence>
                    <xsd:element name="level-mapping" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:attribute name="severity" type="serveritySimpleType" default="INFO" >
                                <xsd:annotation>
                                    <xsd:documentation>
                                     Specifies the severity level of the notifications you want to send to the Chainsaw console for the corresponding event ID. The severity level can be DEBUG, INFO, WARN, ERROR, or FATAL.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                            <xsd:attribute name="eventId" type="xsd:string" use="required" >
                                <xsd:annotation>
                                    <xsd:documentation>
                                     Specifies the type of event to send to the Chainsaw console. The event ID is the notification type plus the action, such as ModelNotification.stop.
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="chainsawHost" type="xsd:string" use="required" >
                    <xsd:annotation>
                        <xsd:documentation>
                        The host name of the Chainsaw console.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="chainsawPort" type="mule:substitutablePortNumber" use="required" >
                    <xsd:annotation>
                        <xsd:documentation>
                        The port of the Chainsaw console.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="serveritySimpleType">
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="DEBUG" />
            <xsd:enumeration value="INFO" />
            <xsd:enumeration value="WARN" />
            <xsd:enumeration value="ERROR" />
            <xsd:enumeration value="FATAL" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="publish-notifications" type="publishNotificationType" substitutionGroup="mule:abstract-agent"/>
    <xsd:complexType name="publishNotificationType">
        <xsd:complexContent>
            <xsd:extension base="notificationLoggerAgentType">
                <xsd:sequence>
                    <xsd:element ref="mule:abstract-outbound-endpoint" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="yourkit-profiler" substitutionGroup="mule:abstract-agent"/>

</xsd:schema>
