transports/bpm/src/main/resources/META-INF/mule-bpm.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/bpm/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:spring="http://www.springframework.org/schema/beans"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/bpm/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"/>

    <xsd:element name="connector" type="bpmConnectorType"/>

    <xsd:complexType name="bpmConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:attribute name="bpms-ref" type="xsd:IDREF" use="required"/>
                <xsd:attribute name="allowGlobalReceiver" type="mule:substitutableBoolean"/>
                <xsd:attribute name="allowGlobalDispatcher" type="mule:substitutableBoolean"/>
                <xsd:attribute name="processIdField" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
   </xsd:complexType>
 
    <xsd:complexType name="customElement">
        <xsd:choice>
            <xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xsd:choice>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
    </xsd:complexType>

</xsd:schema>
