transports/bpm/src/main/resources/META-INF/mule-bpm.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/bpm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/bpm"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
            
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.0/mule.xsd" />
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.0/mule-schemadoc.xsd"/>
    
    <xsd:annotation>
        <xsd:documentation>
            BPM integration allows process engines to send and receive messages through Mule. 
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>BPM</schemadoc:short-name>
            <schemadoc:page-title>BPM Integration</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="process" type="processComponentType" substitutionGroup="mule:abstract-component">
        <xsd:annotation>
            <xsd:documentation>
                A service backed by a process engine such as jBPM.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="processComponentType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractComponentType">
                <xsd:attribute name="bpms-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            A reference to the underlying BPMS, which must implement the {javadoc:mule/transport/bpm|BPMS}org.mule.transport.bpm.BPMS{javadoc} interface to exchange messages through Mule. 
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="processName" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The logical name of the process.  This is used to look up the running process instance from the BPMS.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="processDefinition" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The resource containing the process definition.  This will be used to deploy the process to the BPMS.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="processIdField" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            This field will be used to correlate messages with processes.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="jbpm" type="jbpmType" substitutionGroup="mule:abstract-extension" />
 
    <xsd:complexType name="jbpmType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
		         <xsd:sequence>
		         	<xsd:element name="process-definition" type="processDefinitionType" minOccurs="0" maxOccurs="unbounded">
		              <xsd:annotation>
		                  <xsd:documentation>
		                  	A process definition to be loaded into jBPM at startup.
		                  </xsd:documentation>
		              </xsd:annotation>
		          </xsd:element>
		         </xsd:sequence>
		         <xsd:attribute name="name" type="mule:substitutableName">
		             <xsd:annotation>
		                 <xsd:documentation>
		                 	 An optional name for this BPMS.  Refer to this from the "bpms-ref" field of your component in case you have more than one BPMS configured.
		                 </xsd:documentation>
		             </xsd:annotation>
		         </xsd:attribute>
		         <xsd:attribute name="configurationResource" type="xsd:string">
		             <xsd:annotation>
		                 <xsd:documentation>
		                     The configuration file for jBPM, default is "jbpm.cfg.xml" if not specified.
		                 </xsd:documentation>
		             </xsd:annotation>
		         </xsd:attribute>
		         <xsd:attribute name="processEngine-ref" type="xsd:IDREF">
		             <xsd:annotation>
		                 <xsd:documentation>
		                     A reference to the already-initialized jBPM ProcessEngine.  This is useful if you use Spring to configure your jBPM instance.  Note that the "configurationResource" attribute will be ignored.
		                 </xsd:documentation>
		             </xsd:annotation>
		         </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="processDefinitionType">
        <xsd:complexContent mixed="true">
            <xsd:extension base="mule:abstractExtensionType">
            	<!--
                <xsd:sequence>
                    <xsd:element name="text" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Used for embedding the process definition inside the XML. This is useful for simple processes where you are just mocking up a quick application.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                -->
                <xsd:attribute name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The process definition file. The file can be on the classpath or local file system.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="resource" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>The process definition file. The file can be on the classpath or local file system.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
