modules/pgp/src/main/resources/META-INF/mule-pgp.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/pgp"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/pgp"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.7/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.7/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            This extension adds PGP security on endpoint communication. With PGP you can achieve end-to-end security communication with signed and encrypted messages between parties.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>PGP</schemadoc:short-name>
            <schemadoc:page-title>PGP Module</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="security-manager" type="securityManagerType" substitutionGroup="mule:abstract-security-manager"/>
    <xsd:complexType name="securityManagerType">
        <xsd:annotation>
            <xsd:documentation>
                Security manager for PGP-related functionality.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="mule:abstractSecurityManagerType">
                <xsd:sequence>
                    <xsd:element ref="security-provider"/>
                    <xsd:element ref="keybased-encryption-strategy"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="security-provider" type="pgpSecurityProviderType">
        <xsd:annotation>
            <xsd:documentation>
                Security provider for PGP-related functionality.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="pgpSecurityProviderType">
        <xsd:complexContent>
            <xsd:extension base="mule:securityProviderType">
                <xsd:attribute name="keyManager-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to the key manager to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="keybased-encryption-strategy" type="keyBasedEncryptionStrategyType">
        <xsd:annotation>
            <xsd:documentation>
               The key-based PGP encryption strategy to use.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="keyBasedEncryptionStrategyType">
        <xsd:complexContent>
            <xsd:extension base="mule:encryptionStrategyType">
                <xsd:attribute name="keyManager-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to the key manager to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="credentialsAccessor-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to the credentials accessor to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="checkKeyExpirity" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            Check key expiration.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="security-filter" type="pgpSecurityFilterType" substitutionGroup="mule:abstract-security-filter">
        <xsd:annotation>
            <xsd:documentation>
                Filters messages based on PGP encryption.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="pgpSecurityFilterType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractSecurityFilterType">
                <xsd:attribute name="strategyName" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the PGP encryption strategy to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="signRequired" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether signing is required.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="keyManager-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to the key manager to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="credentialsAccessor-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to the credentials accessor to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
