modules/extensions-spring-support/src/test/resources/basic.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/basic" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
    <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/extension" schemaLocation="http://www.mulesoft.org/schema/mule/extension/current/mule-extension.xsd"></xs:import>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="config">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                    <xs:annotation>
                        <xs:documentation>Default configuration</xs:documentation>
                    </xs:annotation>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" minOccurs="1" maxOccurs="1" ref="extension:abstractConnectionProvider"></xs:element>
                        <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" minOccurs="0" maxOccurs="1" ref="extension:dynamic-config-policy"></xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="required-pojo-default">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/basic" base="org.mule.runtime.module.extension.internal.runtime.connector.basic.Owner"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="required-pojo-no-expression">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/basic" base="org.mule.runtime.module.extension.internal.runtime.connector.basic.Owner"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="required-pojo-expression-supported">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/basic" base="org.mule.runtime.module.extension.internal.runtime.connector.basic.Owner"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="optional-pojo-default">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/basic" base="org.mule.runtime.module.extension.internal.runtime.connector.basic.Owner"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="optional-pojo-no-expression">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/basic" base="org.mule.runtime.module.extension.internal.runtime.connector.basic.Owner"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="optional-pojo-expression-supported">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/basic" base="org.mule.runtime.module.extension.internal.runtime.connector.basic.Owner"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="optional" name="requiredPojoDefault"></xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="requiredPojoNoExpression"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="required" name="requiredPojoExpressionRequired"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="optional" name="requiredPojoExpressionSupported"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="optional" name="optionalPojoDefault"></xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="optionalPojoNoExpression"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="optional" name="optionalPojoExpressionRequired"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="optional" name="optionalPojoExpressionSupported"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.runtime.module.extension.internal.runtime.connector.basic.Owner">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
                <xs:attribute type="mule:expressionString" use="required" name="requiredFieldExpressionSupported"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="optional" name="optionalFieldExpressionRequired"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="optional" name="optionalFieldDefault"></xs:attribute>
                <xs:attribute type="xs:string" use="required" name="requiredFieldExpressionNotSupported"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="requiredFieldDefault"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="optionalFieldExpressionNotSupported"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="requiredFieldExpressionRequired"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="optional" name="optionalFieldExpressionSupported"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="owner">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/basic" base="org.mule.runtime.module.extension.internal.runtime.connector.basic.Owner">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/basic" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="FooType" substitutionGroup="mule:abstract-message-processor" name="foo"></xs:element>
    <xs:complexType name="FooType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" substitutionGroup="extension:abstractConnectionProvider" name="connection">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="extension:abstractConnectionProviderType">
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="connectionProviderRequiredFieldDefault"></xs:attribute>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="connectionProviderRequiredFieldExpressionSupported"></xs:attribute>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="connectionProviderRequiredFieldExpressionRequired"></xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="connectionProviderRequiredFieldExpressionNotSupported"></xs:attribute>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="connectionProviderOptionalFieldDefault"></xs:attribute>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="connectionProviderOptionalFieldExpressionSupported"></xs:attribute>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="connectionProviderOptionalFieldExpressionRequired"></xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="connectionProviderOptionalFieldExpressionNotSupported"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
