modules/extensions-spring-support/src/test/resources/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/metadata" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
    <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/extension" schemaLocation="http://www.mulesoft.org/schema/mule/extension/current/mule-extension.xsd"></xs:import>
    <xs:complexType name="org.mule.test.metadata.extension.model.animals.Animal">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="metadata:org.mule.test.metadata.extension.model.animals.Animal" substitutionGroup="mule:abstract-extension" abstract="true" name="abstract-animal"></xs:element>
    <xs:complexType name="org.mule.test.metadata.extension.model.animals.Bear">
        <xs:complexContent>
            <xs:extension xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" base="metadata:org.mule.test.metadata.extension.model.animals.Animal">
                <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="bearName"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-animal" abstract="true" name="abstract-bear"></xs:element>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-bear" name="bear">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="metadata:org.mule.test.metadata.extension.model.animals.Bear">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.metadata.extension.model.shapes.Shape">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
                <xs:attribute type="mule:expressionString" use="optional" name="color"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="metadata:org.mule.test.metadata.extension.model.shapes.Shape" substitutionGroup="mule:abstract-extension" abstract="true" name="abstract-shape"></xs:element>
    <xs:complexType name="org.mule.test.metadata.extension.model.shapes.Circle">
        <xs:complexContent>
            <xs:extension xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" base="metadata:org.mule.test.metadata.extension.model.shapes.Shape">
                <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionInt" use="optional" name="diameter"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-shape" abstract="true" name="abstract-circle"></xs:element>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-circle" name="circle">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="metadata:org.mule.test.metadata.extension.model.shapes.Circle">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.metadata.extension.model.shapes.Rectangle">
        <xs:complexContent>
            <xs:extension xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" base="metadata:org.mule.test.metadata.extension.model.shapes.Shape">
                <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionInt" use="optional" name="height"></xs:attribute>
                <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionInt" use="optional" name="width"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-shape" abstract="true" name="abstract-rectangle"></xs:element>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-rectangle" name="rectangle">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="metadata:org.mule.test.metadata.extension.model.shapes.Rectangle">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.metadata.extension.model.attribute.AbstractOutputAttributes">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="metadata:org.mule.test.metadata.extension.model.attribute.AbstractOutputAttributes" substitutionGroup="mule:abstract-extension" abstract="true" name="abstract-abstract-output-attributes"></xs:element>
    <xs:complexType name="org.mule.test.metadata.extension.model.attribute.AnimalsOutputAttributes">
        <xs:complexContent>
            <xs:extension xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" base="metadata:org.mule.test.metadata.extension.model.attribute.AbstractOutputAttributes">
                <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="kind"></xs:attribute>
                <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="outputId"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-abstract-output-attributes" abstract="true" name="abstract-animals-output-attributes"></xs:element>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-animals-output-attributes" name="animals-output-attributes">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="metadata:org.mule.test.metadata.extension.model.attribute.AnimalsOutputAttributes">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.metadata.extension.model.attribute.ShapeOutputAttributes">
        <xs:complexContent>
            <xs:extension xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" base="metadata:org.mule.test.metadata.extension.model.attribute.AbstractOutputAttributes">
                <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="outputId"></xs:attribute>
                <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="sides"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-abstract-output-attributes" abstract="true" name="abstract-shape-output-attributes"></xs:element>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-shape-output-attributes" name="shape-output-attributes">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="metadata:org.mule.test.metadata.extension.model.attribute.ShapeOutputAttributes">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.metadata.extension.model.shapes.Square">
        <xs:complexContent>
            <xs:extension xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" base="metadata:org.mule.test.metadata.extension.model.shapes.Rectangle"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-rectangle" abstract="true" name="abstract-square"></xs:element>
    <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" substitutionGroup="metadata:abstract-square" name="square">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="metadata:org.mule.test.metadata.extension.model.shapes.Square">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="config">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                    <xs:annotation>
                        <xs:documentation>Default configuration</xs:documentation>
                    </xs:annotation>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" minOccurs="0" maxOccurs="1" ref="extension:abstractConnectionProvider"></xs:element>
                        <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" minOccurs="0" maxOccurs="1" ref="extension:dynamic-config-policy"></xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="optional" default="noExpression" name="data"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="optional" default="#['defaultString']" name="dataWithDefault"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" substitutionGroup="extension:abstractConnectionProvider" name="connection">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="extension:abstractConnectionProviderType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
                    </xs:sequence>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:substitutableBoolean" use="optional" name="disableValidation"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="MetadataSourceType" substitutionGroup="mule:abstract-message-source" name="metadata-source"></xs:element>
    <xs:complexType name="MetadataSourceType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
                </xs:sequence>
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="MetadataSourceWithMultilevelType" substitutionGroup="mule:abstract-message-source" name="metadata-source-with-multilevel"></xs:element>
    <xs:complexType name="MetadataSourceWithMultilevelType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
                </xs:sequence>
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="city"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="country"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="continent"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentAndOutputCacheResolverType" substitutionGroup="mule:abstract-message-processor" name="content-and-output-cache-resolver"></xs:element>
    <xs:complexType name="ContentAndOutputCacheResolverType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentAndOutputMetadataWithKeyIdType" substitutionGroup="mule:abstract-message-processor" name="content-and-output-metadata-with-key-id"></xs:element>
    <xs:complexType name="ContentAndOutputMetadataWithKeyIdType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentAndOutputMetadataWithoutKeyIdType" substitutionGroup="mule:abstract-message-processor" name="content-and-output-metadata-without-key-id"></xs:element>
    <xs:complexType name="ContentAndOutputMetadataWithoutKeyIdType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentMetadataWithKeyIdType" substitutionGroup="mule:abstract-message-processor" name="content-metadata-with-key-id"></xs:element>
    <xs:complexType name="ContentMetadataWithKeyIdType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentMetadataWithoutKeyIdType" substitutionGroup="mule:abstract-message-processor" name="content-metadata-without-key-id"></xs:element>
    <xs:complexType name="ContentMetadataWithoutKeyIdType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentMetadataWithoutKeysWithKeyIdType" substitutionGroup="mule:abstract-message-processor" name="content-metadata-without-keys-with-key-id"></xs:element>
    <xs:complexType name="ContentMetadataWithoutKeysWithKeyIdType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentOnlyCacheResolverType" substitutionGroup="mule:abstract-message-processor" name="content-only-cache-resolver"></xs:element>
    <xs:complexType name="ContentOnlyCacheResolverType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentOnlyIgnoresOutputType" substitutionGroup="mule:abstract-message-processor" name="content-only-ignores-output"></xs:element>
    <xs:complexType name="ContentOnlyIgnoresOutputType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="FailWithResolvingExceptionType" substitutionGroup="mule:abstract-message-processor" name="fail-with-resolving-exception"></xs:element>
    <xs:complexType name="FailWithResolvingExceptionType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="FailWithRuntimeExceptionType" substitutionGroup="mule:abstract-message-processor" name="fail-with-runtime-exception"></xs:element>
    <xs:complexType name="FailWithRuntimeExceptionType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="KeyIdWithoutKeyResolverType" substitutionGroup="mule:abstract-message-processor" name="key-id-without-key-resolver"></xs:element>
    <xs:complexType name="KeyIdWithoutKeyResolverType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="MessageAttributesNullTypeMetadataType" substitutionGroup="mule:abstract-message-processor" name="message-attributes-null-type-metadata"></xs:element>
    <xs:complexType name="MessageAttributesNullTypeMetadataType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="MessageAttributesPersonTypeMetadataType" substitutionGroup="mule:abstract-message-processor" name="message-attributes-person-type-metadata"></xs:element>
    <xs:complexType name="MessageAttributesPersonTypeMetadataType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputAndMetadataKeyCacheResolverType" substitutionGroup="mule:abstract-message-processor" name="output-and-metadata-key-cache-resolver"></xs:element>
    <xs:complexType name="OutputAndMetadataKeyCacheResolverType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputAttributesWithDeclaredSubtypesMetadataType" substitutionGroup="mule:abstract-message-processor" name="output-attributes-with-declared-subtypes-metadata"></xs:element>
    <xs:complexType name="OutputAttributesWithDeclaredSubtypesMetadataType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputAttributesWithDynamicMetadataType" substitutionGroup="mule:abstract-message-processor" name="output-attributes-with-dynamic-metadata"></xs:element>
    <xs:complexType name="OutputAttributesWithDynamicMetadataType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputMetadataWithKeyIdType" substitutionGroup="mule:abstract-message-processor" name="output-metadata-with-key-id"></xs:element>
    <xs:complexType name="OutputMetadataWithKeyIdType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputMetadataWithoutKeyIdType" substitutionGroup="mule:abstract-message-processor" name="output-metadata-without-key-id"></xs:element>
    <xs:complexType name="OutputMetadataWithoutKeyIdType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputMetadataWithoutKeysWithKeyIdType" substitutionGroup="mule:abstract-message-processor" name="output-metadata-without-keys-with-key-id"></xs:element>
    <xs:complexType name="OutputMetadataWithoutKeysWithKeyIdType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputOnlyWithoutContentParamType" substitutionGroup="mule:abstract-message-processor" name="output-only-without-content-param"></xs:element>
    <xs:complexType name="OutputOnlyWithoutContentParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ResolverContentWithContextClassLoaderType" substitutionGroup="mule:abstract-message-processor" name="resolver-content-with-context-class-loader"></xs:element>
    <xs:complexType name="ResolverContentWithContextClassLoaderType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ResolverOutputWithContextClassLoaderType" substitutionGroup="mule:abstract-message-processor" name="resolver-output-with-context-class-loader"></xs:element>
    <xs:complexType name="ResolverOutputWithContextClassLoaderType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ResolverTypeKeysWithContextClassLoaderType" substitutionGroup="mule:abstract-message-processor" name="resolver-type-keys-with-context-class-loader"></xs:element>
    <xs:complexType name="ResolverTypeKeysWithContextClassLoaderType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ShouldInheritExtensionResolversType" substitutionGroup="mule:abstract-message-processor" name="should-inherit-extension-resolvers"></xs:element>
    <xs:complexType name="ShouldInheritExtensionResolversType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ShouldInheritOperationParentResolversType" substitutionGroup="mule:abstract-message-processor" name="should-inherit-operation-parent-resolvers"></xs:element>
    <xs:complexType name="ShouldInheritOperationParentResolversType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ShouldInheritOperationResolversType" substitutionGroup="mule:abstract-message-processor" name="should-inherit-operation-resolvers"></xs:element>
    <xs:complexType name="ShouldInheritOperationResolversType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SimpleMultiLevelKeyResolverType" substitutionGroup="mule:abstract-message-processor" name="simple-multi-level-key-resolver"></xs:element>
    <xs:complexType name="SimpleMultiLevelKeyResolverType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="continent"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="country"></xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="city"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="TypeWithDeclaredSubtypesMetadataType" substitutionGroup="mule:abstract-message-processor" name="type-with-declared-subtypes-metadata"></xs:element>
    <xs:complexType name="TypeWithDeclaredSubtypesMetadataType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="plain-shape">
                        <xs:complexType>
                            <xs:sequence minOccurs="1" maxOccurs="1">
                                <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" minOccurs="0" maxOccurs="1" ref="metadata:abstract-shape"></xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="rectangle-subtype">
                        <xs:complexType>
                            <xs:sequence minOccurs="1" maxOccurs="1">
                                <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" minOccurs="0" maxOccurs="1" ref="metadata:abstract-rectangle"></xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="animal">
                        <xs:complexType>
                            <xs:sequence minOccurs="1" maxOccurs="1">
                                <xs:element xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" minOccurs="0" maxOccurs="1" ref="metadata:abstract-animal"></xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="plainShape"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="rectangleSubtype"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="animal"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>