modules/extensions-spring-support/src/test/resources/subtypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/subtypes" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
    <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/extension" schemaLocation="http://www.mulesoft.org/schema/mule/extension/current/mule-extension.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/heisenberg" schemaLocation="http://www.mulesoft.org/schema/mule/heisenberg/current/mule-heisenberg.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/vegan" schemaLocation="http://www.mulesoft.org/schema/mule/vegan/current/mule-vegan.xsd"></xs:import>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="config">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                    <xs:annotation>
                        <xs:documentation>Default configuration</xs:documentation>
                    </xs:annotation>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" minOccurs="1" maxOccurs="1" ref="extension:abstractConnectionProvider"></xs:element>
                        <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" minOccurs="0" maxOccurs="1" ref="extension:dynamic-config-policy"></xs:element>
                        <xs:choice minOccurs="0" maxOccurs="1">
                            <xs:element minOccurs="0" maxOccurs="1" name="square">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Square"></xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="triangle-alias">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Triangle"></xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:choice minOccurs="0" maxOccurs="1">
                            <xs:element minOccurs="0" maxOccurs="1" name="house-door">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.HouseDoor"></xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="car-door">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.CarDoor"></xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:element minOccurs="0" maxOccurs="1" name="explicit-square">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Square"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="final-pojo">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.FinalPojo"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element xmlns:heisenberg="http://www.mulesoft.org/schema/mule/heisenberg" minOccurs="0" maxOccurs="1" ref="heisenberg:ricin"></xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="optional" name="abstractShape"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="optional" name="doorInterface"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="optional" name="explicitSquare"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="optional" name="finalPojo"></xs:attribute>
                    <xs:attribute type="mule:expressionObject" use="optional" name="ricin"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.subtypes.extension.Square">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
                <xs:attribute type="mule:expressionInt" use="optional" name="area"></xs:attribute>
                <xs:attribute type="mule:expressionInt" use="optional" name="side"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="square">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Square">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.subtypes.extension.Triangle">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
                <xs:attribute type="mule:expressionInt" use="optional" name="area"></xs:attribute>
                <xs:attribute type="mule:expressionInt" use="optional" name="height"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="triangle-alias">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Triangle">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.subtypes.extension.HouseDoor">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
                <xs:attribute type="mule:expressionBoolean" use="optional" name="locked"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="house-door">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.HouseDoor">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.subtypes.extension.CarDoor">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
                <xs:attribute type="mule:expressionString" use="optional" name="color"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="car-door">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.CarDoor">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.test.subtypes.extension.FinalPojo">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
                <xs:attribute type="mule:expressionString" use="optional" name="someString"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="final-pojo">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.FinalPojo">
                    <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/subtypes" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ConfigRetrieverType" substitutionGroup="mule:abstract-message-processor" name="config-retriever"></xs:element>
    <xs:complexType name="ConfigRetrieverType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/subtypes" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ConnectionRetrieverType" substitutionGroup="mule:abstract-message-processor" name="connection-retriever"></xs:element>
    <xs:complexType name="ConnectionRetrieverType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/subtypes" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="DoorRetrieverType" substitutionGroup="mule:abstract-message-processor" name="door-retriever"></xs:element>
    <xs:complexType name="DoorRetrieverType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="1">
                        <xs:element minOccurs="0" maxOccurs="1" name="house-door">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.HouseDoor"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="car-door">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.CarDoor"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="door"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/subtypes" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ShapeRetrieverType" substitutionGroup="mule:abstract-message-processor" name="shape-retriever"></xs:element>
    <xs:complexType name="ShapeRetrieverType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="1">
                        <xs:element minOccurs="0" maxOccurs="1" name="square">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Square"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="triangle-alias">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Triangle"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="shape"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/subtypes" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SubtypedAndConcreteParametersType" substitutionGroup="mule:abstract-message-processor" name="subtyped-and-concrete-parameters"></xs:element>
    <xs:complexType name="SubtypedAndConcreteParametersType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="1">
                        <xs:element minOccurs="0" maxOccurs="1" name="square">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Square"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="triangle-alias">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Triangle"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:choice minOccurs="0" maxOccurs="1">
                        <xs:element minOccurs="0" maxOccurs="1" name="house-door">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.HouseDoor"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="car-door">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.CarDoor"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:element minOccurs="0" maxOccurs="1" name="final-pojo-param">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.FinalPojo"></xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element xmlns:vegan="http://www.mulesoft.org/schema/mule/vegan" minOccurs="0" maxOccurs="1" ref="vegan:vegan-cook-book"></xs:element>
                </xs:sequence>
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="shapeParam"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="doorParam"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="finalPojoParam"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="cookBook"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" substitutionGroup="extension:abstractConnectionProvider" name="connection">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="extension:abstractConnectionProviderType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
                        <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" minOccurs="0" maxOccurs="1" ref="mule:pooling-profile"></xs:element>
                        <xs:choice minOccurs="0" maxOccurs="1">
                            <xs:element minOccurs="0" maxOccurs="1" name="square">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Square"></xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="triangle-alias">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.Triangle"></xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:choice minOccurs="0" maxOccurs="1">
                            <xs:element minOccurs="0" maxOccurs="1" name="house-door">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.HouseDoor"></xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="car-door">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/subtypes" base="org.mule.test.subtypes.extension.CarDoor"></xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:substitutableBoolean" use="optional" name="disableValidation"></xs:attribute>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionObject" use="optional" name="abstractShape"></xs:attribute>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionObject" use="optional" name="doorInterface"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>