modules/cxf/src/test/resources/wsdlAndXsdMockServer/mock-xsd2.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://localhost:#[server.systemProperties.portMockServer]/DataContracts/2008/01"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://localhost:#[server.systemProperties.portMockServer]/DataContracts/2008/01">
    <xs:complexType name="GeoLocation">
        <xs:sequence>
            <xs:element minOccurs="0" name="Registry" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Assigned" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ISOCountryCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GeoLocation" nillable="true" type="tns:GeoLocation"/>
</xs:schema>