modules/deployment/src/test/resources/exception/META-INF/mule-exception.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/exception"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            targetNamespace="http://www.mulesoft.org/schema/mule/exception"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"/>


    <xsd:element name="throw-exception" type="throwType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Mock message source that links to a shared-config.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="throwType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageProcessorType">
                <xsd:attribute name="exception" type="mule:substitutableName" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A fully qualified classname of the exception object to throw.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="error" type="mule:errorIdentifierType" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The error to throw
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
