transports/jdbc/src/main/resources/META-INF/mule-jdbc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/jdbc/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:spring="http://www.springframework.org/schema/beans"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/jdbc/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <xsd:element name="connector" type="jdbcConnectorType" substitutionGroup="mule:abstract-connector"/>

    <xsd:complexType name="jdbcConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:sequence>
                    <xsd:element name="dataSource" type="mule:genericObjectFactoryType" />
                    <xsd:element name="queries" type="mule:mapType" minOccurs="0"/>
                    <xsd:element name="extractors" type="extractorsType" minOccurs="0"/>
                    <xsd:element name="resultSetHandler" type="mule:genericObjectFactoryType" minOccurs="0" />
                    <xsd:element name="queryRunner" type="mule:genericObjectFactoryType" minOccurs="0" />
                </xsd:sequence>
                <xsd:attribute name="pollingFrequency" type="mule:substitutableLong" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="extractorsType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element ref="mule:abstract-property-extractor"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:element name="now-property-extractor"
                 type="mule:abstractPropertyExtractorType"
                 substitutionGroup="mule:abstract-property-extractor"/>

</xsd:schema>
