modules/cxf/src/main/resources/META-INF/mule-cxf.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/cxf"
            xmlns:cxf="http://cxf.apache.org/core"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.mulesoft.org/schema/mule/cxf"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.8/mule.xsd"/>
    <xsd:import namespace="http://cxf.apache.org/core"
                schemaLocation="http://cxf.apache.org/schemas/core.xsd"/>
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.8/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            Apache CXF is an open source services framework. CXF helps you build and develop services using frontend programming APIs, like JAX-WS. These services can speak a variety of protocols such as SOAP, XML/HTTP, RESTful HTTP, or CORBA and work over a variety of transports such as HTTP, JMS or JBI. The Mule CXF Transport is an evolution of Mule's XFire transport, which provided support for the use of web service integration via Apache CXF. The Mule CXF connector also provides support for WS-Security, WS-Addressing, and WS-Reliable-Messaging.
        </xsd:documentation>

        <xsd:appinfo>
            <schemadoc:short-name>CXF</schemadoc:short-name>
            <schemadoc:page-title>CXF Transport</schemadoc:page-title>

            <schemadoc:transport-features receiveEvents="true" dispatchEvents="true"
                                          requestEvents="true"
                                          transactions="false" streaming="true">
                <schemadoc:MEPs supported="one-way, request-response" default="request-response"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="configuration" type="cxfConfigurationType" substitutionGroup="mule:abstract-extension"/>
    <xsd:complexType name="cxfConfigurationType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:attribute name="configurationLocation" type="xsd:string">
                    <xsd:annotation>
                         <xsd:documentation>
                             The location of a CXF configuration file, if any needs to be supplied.
                         </xsd:documentation>
                     </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="enableMuleSoapHeaders" type="mule:substitutableBoolean" default="true">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether or not CXF should write Mule SOAP headers which pass along the correlation and ReplyTo information. This is true by default, but the Mule SOAP headers are only triggered in situations where there is an existing correlation ID and the ReplyTo header is set. (As of 2.2.1)
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="initializeStaticBusInstance" type="mule:substitutableBoolean" default="true">
                    <xsd:annotation>
                         <xsd:documentation>
                             Initialize the static CXF Bus with a Bus configured to use Mule for all transports. This will affect any CXF generated clients that you run standalone. Defaults to true.
                         </xsd:documentation>
                     </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="name" type="xsd:string" default="_cxfConfiguration">
                    <xsd:annotation>
                         <xsd:documentation>
                             
                         </xsd:documentation>
                     </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="simple-service" type="simpleServiceType" substitutionGroup="mule:abstract-intercepting-message-processor"/>
    <xsd:complexType name="simpleServiceType">
        <xsd:complexContent>
            <xsd:extension base="webServiceType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="jaxws-service" type="jaxWsServiceType" substitutionGroup="mule:abstract-intercepting-message-processor"/>
    <xsd:complexType name="jaxWsServiceType">
        <xsd:complexContent>
            <xsd:extension base="webServiceType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    
    <xsd:element name="proxy-service" type="proxyServiceType" substitutionGroup="mule:abstract-intercepting-message-processor"/>
    <xsd:complexType name="proxyServiceType">
        <xsd:complexContent>
            <xsd:extension base="webServiceType">
                <xsd:attributeGroup ref="proxyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="webServiceType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:sequence>
                    <xsd:element name="schemaLocations" type="schemasType" minOccurs="0"/>
                    <xsd:element ref="ws-security" minOccurs="0" maxOccurs="1"/>
                    <xsd:group ref="commonConfiguration"/>
                </xsd:sequence>
            
                <xsd:attributeGroup ref="inboundAttributes"/>
                <xsd:attributeGroup ref="commonAttributes"/>
            </xsd:extension>
            
        </xsd:complexContent>
        
    </xsd:complexType>

    <xsd:element name="simple-client" type="simpleClientType" substitutionGroup="mule:abstract-intercepting-message-processor"/>

    <xsd:complexType name="simpleClientType">
        <xsd:complexContent>
            <xsd:extension base="clientType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="jaxws-client" type="jaxwsClientType" substitutionGroup="mule:abstract-intercepting-message-processor"/>

    <xsd:complexType name="jaxwsClientType">
        <xsd:complexContent>
            <xsd:extension base="clientType">
                <xsd:attribute name="clientClass" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the client class that CXF generated using CXF's wsdl2java tool. You must use wsdl2java if you do not have both the client and the server in the same JVM. Otherwise, this can be optional if the endpoint address is the same in both cases.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="port" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The WSDL port you want to use to communicate with the service.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="proxy-client" type="proxyClientType" substitutionGroup="mule:abstract-intercepting-message-processor"/>

    <xsd:complexType name="proxyClientType">
        <xsd:complexContent>
            <xsd:extension base="clientType">
                <xsd:attributeGroup ref="proxyAttributes"/>
                <xsd:attribute name="port" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The WSDL port you want to use to communicate with the service.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="clientType">
        <xsd:complexContent>
            <xsd:extension base="outboundType">
                <xsd:attributeGroup ref="clientAttributes"/>
                <xsd:attribute name="serviceClass" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The class CXF should use to construct its service model for the client. 
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="decoupledEndpoint" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The reply to endpoint for clients which have WS-Addressing enabled. 
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="outboundType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:sequence>
                    <xsd:element name="ws-security" type="wsSecurityClient" minOccurs="0" maxOccurs="1"/>
                    <xsd:group ref="commonConfiguration"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="commonAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="proxyAttributes">
        <xsd:attribute name="payload">
            <xsd:annotation>
                <xsd:documentation>
                    Whether the whole SOAP Envelope, or just the body contents should be sent when in proxy mode.  
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="xsd:NMTOKEN">
                    <xsd:enumeration value="envelope"/>
                    <xsd:enumeration value="body"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:attributeGroup>
    
    <xsd:attributeGroup name="commonAttributes">
        <xsd:attribute name="soapVersion">
            <xsd:annotation>
                <xsd:documentation>
                    The soapVersion that is going to be used for this endpoint. The specified version is translated into the corresponding bindingId value. This attribute is useful when there's need to avoid the creation of the endpoint with the default binding.
                    In case the bindingId attribute is set this attribute will override it. If not set and not specified otherwise CXF defaults to SOAP 1.1 binding
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="xsd:NMTOKEN">
                    <xsd:enumeration value="1.1"/>
                    <xsd:enumeration value="1.2"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="mtomEnabled" type="mule:substitutableBoolean">
            <xsd:annotation>
                <xsd:documentation>
                    Whether or not MTOM (attachment support) is enabled for this endpoint.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="wsdlLocation" type="xsd:string" >
            <xsd:annotation>
                <xsd:documentation>
                    The location of the WSDL for your service. If this is a server side endpoint it will served to your users.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="enableMuleSoapHeaders" type="mule:substitutableBoolean" default="true">
            <xsd:annotation>
                <xsd:documentation>
                    Whether or not this endpoint should write Mule SOAP headers which pass along the correlation and ReplyTo information. This is true by default, but the Mule SOAP headers are only triggered in situations where there is an existing correlation ID and the ReplyTo header is set. (As of 2.2.1)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="configuration-ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The CXF configuration that should be used. 
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="inboundAttributes">
        <xsd:attribute name="bindingId" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The binding that should be used for this endpoint. It defaults to the SOAP binding by default.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The WSDL port name of your service.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="namespace" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The service namespace. (As of 2.2.1)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="service" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The WSDL service name of your service.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="serviceClass" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The class CXF should use to construct its service model. This is optional, and by default it will use the implementation class of your component, on inbound cxf endpoint. But it is mandatory for outbound endpoint when using "aegis" frontend. 
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="validationEnabled" type="mule:substitutableBoolean">
            <xsd:annotation>
                <xsd:documentation>
                    Whether or not validation should be enabled on this service. 
                    Validation only occurs on inbound server messages.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        
    </xsd:attributeGroup>

    <xsd:group name="commonConfiguration">
        <xsd:sequence>
            <xsd:element ref="properties" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Additional properties for this service.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="abstract-databinding"  minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The databinding implementation that should be used. By default, this is JAXB for the JAX-WS frontend and Aegis for the simple frontend.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>       
            <xsd:element ref="features" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Any CXF features you want to apply to the client/server. See the CXF documentation for more information on features.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>         
            <xsd:element name="inInterceptors" type="interceptors" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Additional incoming interceptors for this service.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="inFaultInterceptors" type="interceptors" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Additional incoming fault interceptors.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="outInterceptors" type="interceptors" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Additional outgoing interceptors.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="outFaultInterceptors" type="interceptors" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Additional outgoing fault interceptors.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:attributeGroup name="clientAttributes">
        <xsd:attribute name="operation" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The operation you want to invoke on the outbound endpoint.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <!-- 
        <xsd:attribute name="payloadToArguments" default="nullPayloadAsParameter">
            <xsd:annotation>
                <xsd:documentation>
                    This indicates how to treat the payload during the building of the parameters for the cxf call. 
                    It has 2 possible values: "nullPayloadAsParameter" and "nullPayloadAsVoid". They only behave differently if
                    the payload is of type NullPayload. This could change in the future if we add more possible values here.
                    "nullPayloadAsParameter" is the default and indicates that if the payload is a NullPayload, it will be sent in the service call as a parameter.
                    "nullPayloadAsVoid" indicates that if the payload is a NullPayload, then the call will be done as if no parameters were supplied.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:NMTOKEN">
                    <xsd:enumeration value="nullPayloadAsParameter" />
                    <xsd:enumeration value="nullPayloadAsVoid" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
         -->
    </xsd:attributeGroup>

    <xsd:element name="abstract-databinding" abstract="true" type="baseDataBinding">
        <xsd:annotation>
            <xsd:documentation>
                A placeholder for arbitrary extensions as children of the 'mule' element. Other transports and modules can extend this if they need to add global elements to the configuration (but consider the more specific elements like abstract-connector first).
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="baseDataBinding">
        <xsd:sequence>
            <xsd:element ref="beans:property" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Spring property element for custom configuration.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="aegis-databinding" substitutionGroup="abstract-databinding" type="baseDataBinding">
        <xsd:annotation>
            <xsd:documentation>
                Configures the Aegis data binding. See http://cxf.apache.org/docs/aegis-21.html
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="source-databinding" substitutionGroup="abstract-databinding" type="baseDataBinding">
        <xsd:annotation>
            <xsd:documentation>
                Configures the Source data binding. See http://stackoverflow.com/questions/4212608/getting-raw-xml-parameter-in-jax-ws-webservice-method
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="jaxb-databinding" substitutionGroup="abstract-databinding" type="baseDataBinding">
        <xsd:annotation>
            <xsd:documentation>
                Configures the JAXB data binding. See http://cxf.apache.org/docs/jaxb.html
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="jibx-databinding" substitutionGroup="abstract-databinding" type="baseDataBinding">
        <xsd:annotation>
            <xsd:documentation>
                Configures the Jibx data binding.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="stax-databinding" substitutionGroup="abstract-databinding" type="baseDataBinding">
        <xsd:annotation>
            <xsd:documentation>
                Configures the Stax data binding.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="custom-databinding" substitutionGroup="abstract-databinding">
        <xsd:annotation>
            <xsd:documentation>
                Configures a custom data binding.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="baseDataBinding">
                    <xsd:attribute name="class" type="xsd:NMTOKEN" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="schemasType">
        <xsd:sequence>
            <xsd:element name="schemaLocation" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        The location of any additional schema to be included inside the WSDL.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="properties">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="features">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="interceptors">
        <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="propertiesType">
        <xsd:sequence>
            <xsd:element ref="beans:entry" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="wrapper-component" type="wrapperComponentType" substitutionGroup="mule:abstract-component">
        <xsd:annotation>
            <xsd:documentation>
                The WebServiceWrapperComponent class allows you to send the result of a web service call to another endpoint. 
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="wrapperComponentType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractComponentType">
                <xsd:attribute name="address" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The URL of the web service.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="addressFromMessage" type="mule:substitutableBoolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            Specifies that the URL of the web service will be obtained from the message itself.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="wsdlPort" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The WSDL port you want to use to communicate to the service.
                         </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="operation" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The operation you want to invoke on the outbound endpoint.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="stax">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="xmlInputFactory" type="xsd:string" />
                    <xsd:attribute name="xmlOutputFactory" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

   <xsd:element name="mule-security-manager">
        <xsd:annotation>
            <xsd:documentation>
                A WSS4J Password validator which verifies username/password combinations
                against the Mule security manager.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="securityManager-ref">
                        <xsd:annotation>
                            <xsd:documentation>
                                The security manager instance to use for the password validator. (Optional)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="wsSecurityService">
        <xsd:complexContent>
            <xsd:extension base="wsSecurityBase">
                <xsd:sequence>
                    <xsd:element ref="mule-security-manager" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                A WSS4J Password validator which verifies username/password combinations against the Mule security manager.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="ws-config" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                A map containing the WSS4J configuration. The entry key and value should map to the text strings in WSS4J's WSHandlerConstants and WSConstants.
                                The key is the name of the element respecting Mule's naming format, it will be afterwards transformed to CamelCase to map the
                                corresponding constants, e.g. password-callback-class will map to the constant passwordCallbackClass.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="ws-custom-validator" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                A list of validators that allows to override the default validators used to validate a received security token.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="wsSecurityClient">
        <xsd:complexContent>
            <xsd:extension base="wsSecurityBase">
                <xsd:sequence>
                    <xsd:element ref="ws-config" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                A map containing the WSS4J configuration. The entry key and value should map to the text strings in WSS4J's WSHandlerConstants and WSConstants.
                                The key is the name of the element respecting Mule's naming format, it will be afterwards transformed to CamelCase to map the
                                corresponding constants, e.g. password-callback-class will map to the constant passwordCallbackClass.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="ws-security" substitutionGroup="mule:abstract-extension" type="wsSecurityService">
        <xsd:annotation>
            <xsd:documentation>
                Configuration to enable WS-Security
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="wsSecurityBase">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:attribute name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Name of the WS-Security configuration
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to a WS-Security configuration
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="ws-config">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="mule:annotatedType">
                    <xsd:sequence>
                        <xsd:element name="property" minOccurs="0" maxOccurs="unbounded" type="mule:keyValueType"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ws-custom-validator">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="mule:annotatedType">
                    <xsd:sequence>
                        <xsd:element ref="username-token-validator" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="saml1-token-validator" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="saml2-token-validator" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="timestamp-token-validator" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="signature-token-validator" minOccurs="0" maxOccurs="1"/>
                        <xsd:element ref="bst-token-validator" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>    

    <xsd:element name="abstract-ws-custom-validator" abstract="true" type="baseWsCustomValidator">
        <xsd:annotation>
            <xsd:documentation>
                Custom validators to override the default validators used to validate a received security token.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="baseWsCustomValidator">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="ref" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The custom validator instance to validate the tokens
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="username-token-validator" substitutionGroup="abstract-ws-custom-validator" type="baseWsCustomValidator">
        <xsd:annotation>
            <xsd:documentation>
                Override UsernameToken validation providing a custom implementation of the Validator instance
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="saml1-token-validator" substitutionGroup="abstract-ws-custom-validator" type="baseWsCustomValidator">
        <xsd:annotation>
            <xsd:documentation>
                Override SAML1 token validation providing a custom implementation of the Validator instance
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="saml2-token-validator" substitutionGroup="abstract-ws-custom-validator" type="baseWsCustomValidator">
        <xsd:annotation>
            <xsd:documentation>
                Override SAML2 token validation providing a custom implementation of the Validator instance
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="timestamp-token-validator" substitutionGroup="abstract-ws-custom-validator" type="baseWsCustomValidator">
        <xsd:annotation>
            <xsd:documentation>
                Override Timestamp validation providing a custom implementation of the Validator instance
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="signature-token-validator" substitutionGroup="abstract-ws-custom-validator" type="baseWsCustomValidator">
        <xsd:annotation>
            <xsd:documentation>
                Override trust verification on a signature providing a custom implementation of the Validator instance
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="bst-token-validator" substitutionGroup="abstract-ws-custom-validator" type="baseWsCustomValidator">
        <xsd:annotation>
            <xsd:documentation>
                Override BinarySecurityToken validation providing a custom implementation of the Validator instance
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>


</xsd:schema>
