transports/xfire/src/main/resources/META-INF/mule-wsdl-xfire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/wsdl-xfire/2.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
    xmlns:xfire="http://www.mulesource.org/schema/mule/xfire/2.0"
    targetNamespace="http://www.mulesource.org/schema/mule/wsdl-xfire/2.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/xfire/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/xfire/2.0/mule-xfire.xsd" />

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:sequence>
                    <xsd:group ref="inboundPropertyElements"/>
                    <xsd:group ref="generalPropertyElements"/>
                    <xsd:group ref="mule:propertiesGroup"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="inboundPropertyAttributes"/>
                <xsd:attributeGroup ref="generalPropertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:sequence>
                    <xsd:group ref="generalPropertyElements"/>
                    <xsd:group ref="mule:propertiesGroup"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="generalPropertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:sequence>
                    <xsd:group ref="inboundPropertyElements"/>
                    <xsd:group ref="generalPropertyElements"/>
                    <xsd:group ref="mule:propertiesGroup"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="inboundPropertyAttributes"/>
                <xsd:attributeGroup ref="generalPropertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:group name="inboundPropertyElements">
        <xsd:sequence/>
    </xsd:group>

    <xsd:group name="generalPropertyElements">
        <xsd:sequence>
            <xsd:element ref="xfire:complex-type" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:attributeGroup name="inboundPropertyAttributes"/>

    <xsd:attributeGroup name="generalPropertyAttributes"/>

</xsd:schema>
