transports/xfire/src/main/resources/META-INF/mule-xfire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/xfire/2.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
    targetNamespace="http://www.mulesource.org/schema/mule/xfire/2.0" 
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <xsd:element name="connector" type="xfireConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Consume and provide web services via XFire.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="xfireConnectorType">
        <xsd:complexContent>        
            <xsd:extension base="mule:connectorType">
                <xsd:sequence>
                    <xsd:element name="client-in-handler" type="withClass" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="client-out-handler" type="withClass" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="client-service" type="withClass" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="server-in-handler" type="withClass" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="server-out-handler" type="withClass" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
                <xsd:attribute name="bindingProviderClass" type="xsd:NMTOKEN">
                    <xsd:annotation>
                        <xsd:documentation>
                            Fully qualified class name of the xfire BindingProvider to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="clientTransportClass" type="xsd:NMTOKEN">
                    <xsd:annotation>
                        <xsd:documentation>
                            Fully qualified class name of the xfire Transport class to use.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="enableJSR181Annotations" type="mule:substitutableBoolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            Set to true if annotations should be used. Requires JDK5 and later to work.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="serviceFactory-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Bean reference to the ServiceFactory that should be used.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="serviceTransport" type="xsd:NMTOKEN">
                    <xsd:annotation>
                        <xsd:documentation>
                            Name of the Transport class that should be used.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="typeMappingRegistryClass" type="xsd:NMTOKEN">
                    <xsd:annotation>
                        <xsd:documentation>
                            TypeMappingRegistry class that should be instantiated and used. This 
                            setting has only effect when using the aegis binding provider.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="xfire-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Bean reference to the XFire instance that should be used.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="withClass">
        <xsd:attribute name="class" type="mule:substitutableClass">
            <xsd:annotation>
                <xsd:documentation>
                    The class to use.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:sequence>
                    <xsd:group ref="inboundPropertyElements"/>
                    <xsd:group ref="generalPropertyElements"/>
                    <xsd:group ref="mule:propertiesGroup"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="inboundPropertyAttributes"/>
                <xsd:attributeGroup ref="generalPropertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:sequence>
                    <xsd:group ref="generalPropertyElements"/>
                    <xsd:group ref="mule:propertiesGroup"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="generalPropertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:sequence>
                    <xsd:group ref="inboundPropertyElements"/>
                    <xsd:group ref="generalPropertyElements"/>
                    <xsd:group ref="mule:propertiesGroup"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="inboundPropertyAttributes"/>
                <xsd:attributeGroup ref="generalPropertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:group name="inboundPropertyElements">
        <xsd:sequence/>
    </xsd:group>

    <xsd:group name="generalPropertyElements">
        <xsd:sequence>
            <xsd:element name="soap-11-transport" type="mule:valueType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="complex-type" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:attributeGroup name="inboundPropertyAttributes"/>

    <xsd:attributeGroup name="generalPropertyAttributes">
        <xsd:attribute name="wsdlUrl" type="xsd:string"/>
        <xsd:attribute name="portType" type="xsd:string"/>
        <xsd:attribute name="createDefaultBindings" type="mule:substitutableBoolean"/>
    </xsd:attributeGroup>

    <xsd:element name="complex-type" type="mule:keyValueType"/>

</xsd:schema>
