modules/client/src/main/resources/META-INF/mule-client.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/client"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/client"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.7/mule.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.7/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            MuleClient is a simple interface for Java clients to send and receive messages from a Mule server and other applications. You can use the Mule client to send and receive messages to and from a local or remote Mule server;  to communicate with other applications using any Mule transport; make requests to a Mule server behind a firewall using the RemoteDispatcher. The Mule client can be used as a web services client to make SOAP requests using popular SOAP implementations such as Apache CXF. It can also send messages directly to a service component and bypass the transports layer completely, which is useful for testing your service components or when triggering an event from a script or JSP page.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>Client</schemadoc:short-name>
            <schemadoc:page-title>Mule Client</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="remote-dispatcher-agent" type="remoteDispatcherAgentType" substitutionGroup="mule:abstract-agent"/>
    <xsd:complexType name="remoteDispatcherAgentType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractAgentType">
                <xsd:sequence>
                    <xsd:element name="remote-endpoint" type="mule:inboundEndpointType" minOccurs="0" maxOccurs="1"/>
                    <xsd:group ref="defaultWireFormatElements"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:group name="defaultWireFormatElements">
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="xml-wire-format"/>
                <xsd:element name="serialization-wire-format"/>
                <xsd:element name="custom-wire-format">
                    <xsd:complexType>
                        <xsd:attribute name="class" type="mule:substitutableClass" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>
</xsd:schema>
