transports/email/src/main/resources/META-INF/mule-imaps.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/imaps/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:imap="http://www.mulesource.org/schema/mule/imap/2.0"
            xmlns:email="http://www.mulesource.org/schema/mule/email/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/imaps/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/imap/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/imap/2.0/mule-imap.xsd"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/email/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/email/2.0/mule-email.xsd"/>

    <xsd:element name="connector" type="imapsConnectorType" substitutionGroup="mule:abstract-connector"/>

    <xsd:complexType name="imapsConnectorType">
        <xsd:complexContent>
            <xsd:extension base="imap:imapConnectorType">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="tls-client" type="mule:tlsClientKeyStoreType"/>
                    <xsd:element name="tls-trust-store" type="mule:tlsTrustStoreType"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attributeGroup ref="email:addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:attributeGroup ref="email:addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="response-endpoint" type="responseEndpointType" substitutionGroup="mule:abstract-response-endpoint"/>
    <xsd:complexType name="responseEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:responseEndpointType">
                <xsd:attributeGroup ref="email:addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:attributeGroup ref="email:addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
