transports/email/src/main/resources/META-INF/mule-smtp.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/smtp/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/smtp/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <xsd:element name="connector" type="smtpConnectorType" substitutionGroup="mule:abstract-connector"/>

    <xsd:complexType name="headerType">
        <xsd:attribute name="key" type="xsd:string" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <!-- separate base so that header is separate and in local namespace -->
    <xsd:complexType name="baseSmtpConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <!-- seems like we should be able to better restrict some of these types -->
                <xsd:attribute name="bccAddresses" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Comma separated list of addresses for blind copies.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ccAddresses" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Comma separated list of addresses for copies.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="contentType" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Mime type for the outgoing message.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="fromAddress" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The from address for the outgoing message.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="password" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Password needed for authentication at the server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="replyToAddresses" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The reply-to address for the outgoing message.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="subject" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The subject for the outgoing message.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="username" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Username needed for authentication at the server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="smtpConnectorType">
        <xsd:complexContent>
            <xsd:extension base="baseSmtpConnectorType">
                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="header" type="headerType">
                        <xsd:annotation>
                            <xsd:documentation>
                                Additional header name and value.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
