transports/email/src/main/resources/META-INF/mule-smtps.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/smtps"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
            xmlns:email="http://www.mulesoft.org/schema/mule/email"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/smtps"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/smtp"
                schemaLocation="http://www.mulesoft.org/schema/mule/smtp/3.1/mule-smtp.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/email"
                schemaLocation="http://www.mulesoft.org/schema/mule/email/3.1/mule-email.xsd"/>
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.1/mule-schemadoc.xsd"/>

     <xsd:annotation>
        <xsd:documentation>The SMTPS transport is similar to the [SMTP Transport] but uses secure connections over SSL/TLS.</xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>SMTPS</schemadoc:short-name>
            <schemadoc:page-title>SMTPS Transport</schemadoc:page-title>
            <schemadoc:transport-features receiveEvents="false" dispatchEvents="true"
                                          requestEvents="true"
                                          transactions="false" streaming="false">
                <schemadoc:MEPs supported="one-way" default="one-way"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="smtpsConnectorType" substitutionGroup="mule:abstract-connector"/>

    <xsd:complexType name="smtpsConnectorType">
        <xsd:complexContent>
            <xsd:extension base="smtp:baseSmtpConnectorType">
                <xsd:sequence>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="header" type="mule:keyValueType"/>
                    </xsd:sequence>
                    <xsd:sequence>
                        <xsd:element name="tls-client" type="mule:tlsClientKeyStoreType"/>
                        <xsd:element name="tls-trust-store" type="mule:tlsTrustStoreType"/>
                    </xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <!-- 
                The only valid exchange-pattern is one-way which is the default. No need to make 
                the exchange-pattern attribute configurable.  
            -->
            <xsd:extension base="mule:outboundEndpointTypeWithoutExchangePattern">
                <xsd:attributeGroup ref="email:addressAttributes"/>
                <xsd:attributeGroup ref="smtp:addressProperties"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <!-- 
                The only valid exchange-pattern is one-way which is the default. No need to make 
                the exchange-pattern attribute configurable.  
            -->
            <xsd:extension base="mule:globalEndpointTypeWithoutExchangePattern">
                <xsd:attributeGroup ref="email:addressAttributes"/>
                <xsd:attributeGroup ref="smtp:addressProperties"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
