transports/email/src/main/resources/META-INF/mule-imap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/imap"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:email="http://www.mulesoft.org/schema/mule/email"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/imap"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.7/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/email"
                schemaLocation="http://www.mulesoft.org/schema/mule/email/3.7/mule-email.xsd"/>
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.7/mule-schemadoc.xsd"/>
        
    <xsd:annotation>
        <xsd:documentation>The IMAP transport can be used for receiving messages from IMAP inboxes using the javax.mail API. The [IMAPS Transport] is similar but uses secure connections over SSL/TLS.</xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>IMAP</schemadoc:short-name>
            <schemadoc:page-title>IMAP Transport</schemadoc:page-title>
            <schemadoc:artifact-name>email</schemadoc:artifact-name>
            <schemadoc:transport-features receiveEvents="true" dispatchEvents="false"
                                          requestEvents="false"
                                          transactions="false" streaming="false">
                <schemadoc:MEPs supported="one-way" default="one-way"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>
        
    <xsd:element name="connector" type="imapConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Allows Mule to communicate over IMAP. 
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="imapConnectorType">
        <xsd:complexContent>
            <xsd:extension base="email:emailDownloadConnectorType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <!-- 
                The only valid exchange-pattern is one-way which is the default. No need to make 
                the exchange-pattern attribute configurable.  
            -->
            <xsd:extension base="mule:inboundEndpointTypeWithoutExchangePattern">
                <xsd:attributeGroup ref="email:addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <!-- 
                The only valid exchange-pattern is one-way which is the default. No need to make 
                the exchange-pattern attribute configurable.  
            -->
            <xsd:extension base="mule:globalEndpointTypeWithoutExchangePattern">
                <xsd:attributeGroup ref="email:addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
