modules/extensions-mule-support/src/main/resources/META-INF/mule-extension.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/mule-extension"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:operation="http://www.mulesoft.org/schema/mule/operation"
            targetNamespace="http://www.mulesoft.org/schema/mule/mule-extension"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/operation"
                schemaLocation="http://www.mulesoft.org/schema/mule/operation/current/mule-operation.xsd"/>

    <xsd:element name="extension" type="extensionDefType">
        <xsd:annotation>
            <xsd:documentation>
                Root element of an extension that contains configurations, connections, operations, sources and functions as children.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="extensionDefType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:sequence maxOccurs="unbounded" minOccurs="1">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <!-- configs, connections, sources and functions may be added here eventually /-->
                        <xsd:element ref="operation:def" />
                    </xsd:choice>
                </xsd:sequence>
                <xsd:attribute name="name" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Name of the extension that identifies it.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="category" type="categoryType" default="COMMUNITY">
                    <xsd:annotation>
                        <xsd:documentation>
                            Category of the extension.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="vendor" type="xsd:string" default="Mulesoft">
                    <xsd:annotation>
                        <xsd:documentation>
                            Vendor of the extension.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="requiredEntitlement" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The required entitlement in the customer extension license.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="requiresEnterpriseLicense" type="xsd:boolean" default="false">
                    <xsd:annotation>
                        <xsd:documentation>
                            If the extension requires an enterprise license to run.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="allowsEvaluationLicense" type="xsd:boolean" default="true">
                    <xsd:annotation>
                        <xsd:documentation>
                            If the extension can be run with an evaluation license.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <!-- DSL XML attributes -->
                <xsd:attribute name="namespace" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Expected namespace of the extension to look for when generating the schemas. If left empty it will
                            default to http://www.mulesoft.org/schema/mule/[prefix], where [prefix] is the attribute prefix attribute value.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="prefix" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Expected prefix of the extension to look for when generating the schemas. If left empty it will create a
                            default one based on the extension's name, removing the words "extension", "module" or "connector" at
                            the end if they are present and hyphenizing the resulting name.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="categoryType">
        <xsd:annotation>
            <xsd:documentation>
                Set of defined categories for a extension.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="COMMUNITY"/>
            <xsd:enumeration value="SELECT"/>
            <xsd:enumeration value="PREMIUM"/>
            <xsd:enumeration value="CERTIFIED"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
