transports/vm/src/main/resources/META-INF/mule-vm.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/vm/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/vm/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"/>

    <xsd:element name="connector" type="vmConnectorType"/>

    <xsd:complexType name="vmConnectorType">
    	<xsd:complexContent>
    		<xsd:extension base="mule:connectorType">
		    	<xsd:sequence>
		    		<xsd:element name="queueProfile" type="mule:queueProfileType" minOccurs="0"/>
		    	</xsd:sequence>
		        <xsd:attribute name="queueEvents" type="xsd:boolean" default="false"/>
		        <xsd:attribute name="queueTimeout" type="xsd:int" default="1000"/>
		    </xsd:extension>
    	</xsd:complexContent>
   </xsd:complexType>
 
</xsd:schema>