compatibility/modules/cxf/src/test/resources/echo-11.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	<wsdl:types>
		<xs:schema targetNamespace="http://new.webservice.namespace" elementFormDefault="qualified">
			<xs:element name="parameter1" type="xs:string"/>
			<xs:element name="parameter2" type="xs:string"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Echo1MessageRequest">
		<wsdl:part name="Echo1MessageRequest" element="tns:parameter1"/>
	</wsdl:message>
	<wsdl:message name="Echo1MessageResponse">
		<wsdl:part name="Echo1MessageResponse" element="tns:parameter1"/>
	</wsdl:message>
	<wsdl:message name="Echo2MessageRequest">
		<wsdl:part name="Echo2MessageRequest" element="tns:parameter2"/>
	</wsdl:message>
	<wsdl:message name="Echo2MessageResponse">
		<wsdl:part name="Echo2MessageResponse" element="tns:parameter2"/>
	</wsdl:message>
	<wsdl:portType name="EchoPortType">
		<wsdl:operation name="EchoOperation1">
			<wsdl:input message="tns:Echo1MessageRequest"/>
			<wsdl:output message="tns:Echo1MessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="EchoOperation2">
			<wsdl:input message="tns:Echo2MessageRequest"/>
			<wsdl:output message="tns:Echo2MessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EchoBinding" type="tns:EchoPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="EchoOperation1">
			<soap:operation soapAction="EchoOperation1"/>
			<wsdl:input>
				<soap:body parts="Echo1MessageRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="Echo1MessageResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EchoOperation2">
			<soap:operation soapAction="EchoOperation2"/>
			<wsdl:input>
				<soap:body parts="Echo2MessageRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="Echo2MessageResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EchoService">
		<wsdl:port name="EchoPort" binding="tns:EchoBinding">
			<soap:address location="http://localhost:8085/EchoService11"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
