modules/ws/src/test/resources/Echo.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://consumer.ws.module.mule.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EchoService" targetNamespace="http://consumer.ws.module.mule.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://consumer.ws.module.mule.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://consumer.ws.module.mule.org/">
   <xs:element name="echo" type="tns:echo"/>
   <xs:element name="echoResponse" type="tns:echoResponse"/>
   <xs:element name="fail" type="tns:fail"/>
   <xs:element name="failResponse" type="tns:failResponse"/>
   <xs:complexType name="fail">
      <xs:sequence>
         <xs:element minOccurs="0" name="text" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="failResponse">
      <xs:sequence>
         <xs:element minOccurs="0" name="text" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="echo">
      <xs:sequence>
         <xs:element minOccurs="0" name="text" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="echoResponse">
      <xs:sequence>
         <xs:element minOccurs="0" name="text" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="IllegalArgumentException" type="tns:IllegalArgumentException"/>
   <xs:complexType name="IllegalArgumentException">
      <xs:sequence/>
   </xs:complexType>
</xs:schema>  </wsdl:types>
  <wsdl:message name="failResponse">
    <wsdl:part element="tns:failResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo">
    <wsdl:part element="tns:echo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IllegalArgumentException">
    <wsdl:part element="tns:IllegalArgumentException" name="IllegalArgumentException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fail">
    <wsdl:part element="tns:fail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Echo">
    <wsdl:operation name="fail">
      <wsdl:input message="tns:fail" name="fail">
    </wsdl:input>
      <wsdl:output message="tns:failResponse" name="failResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IllegalArgumentException" name="IllegalArgumentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echo" name="echo">
    </wsdl:input>
      <wsdl:output message="tns:echoResponse" name="echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoServiceSoapBinding" type="tns:Echo">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="fail">
      <soap:operation soapAction="echo" style="document"/>
      <wsdl:input name="fail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="failResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <soap:operation soapAction="echo" style="document"/>
      <wsdl:input name="echo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoService">
    <wsdl:port binding="tns:EchoServiceSoapBinding" name="EchoPort">
      <soap:address location="http://localhost:5655/services/Echo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>