modules/ws/src/test/resources/Test.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://consumer.ws.module.mule.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TestService" targetNamespace="http://consumer.ws.module.mule.org/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://consumer.ws.module.mule.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://consumer.ws.module.mule.org/">
            <xs:element name="echo" type="tns:echo"/>
            <xs:element name="echoResponse" type="tns:echoResponse"/>
            <xs:element name="echoWithHeaders" type="tns:echoWithHeaders"/>
            <xs:element name="echoWithHeadersResponse" type="tns:echoWithHeadersResponse"/>
            <xs:element name="fail" type="tns:fail"/>
            <xs:element name="failResponse" type="tns:failResponse"/>
            <xs:element name="noParams" type="tns:noParams"/>
            <xs:element name="noParamsResponse" type="tns:noParamsResponse"/>
            <xs:element name="noParamsWithHeader" type="tns:noParamsWithHeader"/>
            <xs:element name="noParamsWithHeaderResponse" type="tns:noParamsWithHeaderResponse"/>
            <xs:complexType name="fail">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="failResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoFault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="noParamsWithHeader">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="noParamsWithHeaderResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoWithHeaders">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoWithHeadersResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="noParams">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="noParamsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="EchoException" nillable="true" type="tns:echoFault"/>
            <xs:element name="header" nillable="true" type="xs:string"/>
            <xs:element name="headerIn" nillable="true" type="xs:string"/>
            <xs:element name="headerInOut" nillable="true" type="xs:string"/>
            <xs:element name="headerOut" nillable="true" type="xs:string"/>
        </xs:schema>  </wsdl:types>
    <wsdl:message name="noParamsWithHeader">
        <wsdl:part element="tns:noParamsWithHeader" name="parameters">
        </wsdl:part>
        <wsdl:part element="tns:header" name="header">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="failResponse">
        <wsdl:part element="tns:failResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part element="tns:echoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo">
        <wsdl:part element="tns:echo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="noParams">
        <wsdl:part element="tns:noParams" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="EchoException">
        <wsdl:part element="tns:EchoException" name="EchoException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="noParamsResponse">
        <wsdl:part element="tns:noParamsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoWithHeadersResponse">
        <wsdl:part element="tns:echoWithHeadersResponse" name="result">
        </wsdl:part>
        <wsdl:part element="tns:headerOut" name="headerOut">
        </wsdl:part>
        <wsdl:part element="tns:headerInOut" name="headerInOut">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoWithHeaders">
        <wsdl:part element="tns:echoWithHeaders" name="parameters">
        </wsdl:part>
        <wsdl:part element="tns:headerIn" name="headerIn">
        </wsdl:part>
        <wsdl:part element="tns:headerInOut" name="headerInOut">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="fail">
        <wsdl:part element="tns:fail" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="noParamsWithHeaderResponse">
        <wsdl:part element="tns:noParamsWithHeaderResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TestService">
        <wsdl:operation name="fail">
            <wsdl:input message="tns:fail" name="fail">
            </wsdl:input>
            <wsdl:output message="tns:failResponse" name="failResponse">
            </wsdl:output>
            <wsdl:fault message="tns:EchoException" name="EchoException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="noParamsWithHeader">
            <wsdl:input message="tns:noParamsWithHeader" name="noParamsWithHeader">
            </wsdl:input>
            <wsdl:output message="tns:noParamsWithHeaderResponse" name="noParamsWithHeaderResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoWithHeaders">
            <wsdl:input message="tns:echoWithHeaders" name="echoWithHeaders">
            </wsdl:input>
            <wsdl:output message="tns:echoWithHeadersResponse" name="echoWithHeadersResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noParams">
            <wsdl:input message="tns:noParams" name="noParams">
            </wsdl:input>
            <wsdl:output message="tns:noParamsResponse" name="noParamsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <wsdl:input message="tns:echo" name="echo">
            </wsdl:input>
            <wsdl:output message="tns:echoResponse" name="echoResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TestServiceSoapBinding" type="tns:TestService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="fail">
            <soap:operation soapAction="fail" style="document"/>
            <wsdl:input name="fail">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="failResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EchoException">
                <soap:fault name="EchoException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="noParamsWithHeader">
            <soap:operation soapAction="noParams" style="document"/>
            <wsdl:input name="noParamsWithHeader">
                <soap:header message="tns:noParamsWithHeader" part="header" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output name="noParamsWithHeaderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoWithHeaders">
            <soap:operation soapAction="echoWithHeaders" style="document"/>
            <wsdl:input name="echoWithHeaders">
                <soap:header message="tns:echoWithHeaders" part="headerIn" use="literal">
                </soap:header>
                <soap:header message="tns:echoWithHeaders" part="headerInOut" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoWithHeadersResponse">
                <soap:header message="tns:echoWithHeadersResponse" part="headerOut" use="literal">
                </soap:header>
                <soap:header message="tns:echoWithHeadersResponse" part="headerInOut" use="literal">
                </soap:header>
                <soap:body parts="result" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noParams">
            <soap:operation soapAction="noParams" style="document"/>
            <wsdl:input name="noParams">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="noParamsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <soap:operation soapAction="echo" style="document"/>
            <wsdl:input name="echo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TestService">
        <wsdl:port binding="tns:TestServiceSoapBinding" name="TestPort">
            <soap:address location="http://localhost:5804/services/Test"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>