modules/ws/src/test/resources/TestParams.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://consumer.ws.module.mule.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  name="TestService"
                  targetNamespace="http://consumer.ws.module.mule.org/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://consumer.ws.module.mule.org/"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://consumer.ws.module.mule.org/">
            <xs:element name="echo" type="tns:echo"/>
            <xs:element name="echoResponse" type="tns:echoResponse"/>
            <xs:element name="noParams" type="tns:noParams"/>
            <xs:element name="noParamsResponse" type="tns:noParamsResponse"/>
            <xs:element name="noParamsWithHeader" type="tns:noParamsWithHeader"/>
            <xs:element name="noParamsWithHeaderResponse" type="tns:noParamsWithHeaderResponse"/>
            <xs:complexType name="noParamsWithHeader">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="noParamsWithHeaderResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="noParams">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="noParamsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="header" nillable="true" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="noParamsWithHeader">
        <wsdl:part element="tns:noParamsWithHeader" name="parameters"/>
        <wsdl:part element="tns:header" name="header"/>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part element="tns:echoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="echo">
        <wsdl:part element="tns:echo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="noParams">
        <wsdl:part element="tns:noParams" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="noParamsResponse">
        <wsdl:part element="tns:noParamsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="echoSimpleType">
        <wsdl:part name="value" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="noParamsWithHeaderResponse">
        <wsdl:part element="tns:noParamsWithHeaderResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="TestParamsService">
        <wsdl:operation name="noParamsWithHeader">
            <wsdl:input message="tns:noParamsWithHeader" name="noParamsWithHeader"/>
            <wsdl:output message="tns:noParamsWithHeaderResponse" name="noParamsWithHeaderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="noParams">
            <wsdl:input message="tns:noParams" name="noParams"/>
            <wsdl:output message="tns:noParamsResponse" name="noParamsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <wsdl:input message="tns:echo" name="echo"/>
            <wsdl:output message="tns:echoResponse" name="echoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleType">
            <wsdl:input message="tns:echoSimpleType" name="echoSimpleType"/>
            <wsdl:output message="tns:echoResponse" name="echoResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="TestServiceSoapBinding" type="tns:TestParamsService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="noParamsWithHeader">
            <soap:operation soapAction="noParams" style="document"/>
            <wsdl:input name="noParamsWithHeader">
                <soap:header message="tns:noParamsWithHeader" part="header" use="literal">
                </soap:header>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output name="noParamsWithHeaderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noParams">
            <soap:operation soapAction="noParams" style="document"/>
            <wsdl:input name="noParams">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="noParamsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <soap:operation soapAction="echo" style="document"/>
            <wsdl:input name="echo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleType">
            <wsdl:input name="echoSimpleType">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="TestServiceSoap12Binding" type="tns:TestParamsService">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="noParamsWithHeader">
            <soap12:operation soapAction="noParams" style="document"/>
            <wsdl:input name="noParamsWithHeader">
                <soap12:header message="tns:noParamsWithHeader" part="header" use="literal">
                </soap12:header>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output name="noParamsWithHeaderResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noParams">
            <soap12:operation soapAction="noParams" style="document"/>
            <wsdl:input name="noParams">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="noParamsResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <soap12:operation soapAction="echo" style="document"/>
            <wsdl:input name="echo">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleType">
            <wsdl:input name="echoSimpleType">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="TestParamsService">
        <wsdl:port binding="tns:TestServiceSoapBinding" name="TestParamsSoapPort">
            <soap:address location="http://localhost:5804/services/TestParams"/>
        </wsdl:port>
        <wsdl:port binding="tns:TestServiceSoap12Binding" name="TestParamsSoap12Port">
            <soap12:address location="http://localhost:5804/services/TestParams"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>