mule-jbi/components/pxe/main/test/resources/AsyncProcess/main.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
   name="Process"
   targetNamespace="uri:com.bptest.process"
   xmlns:proc="uri:com.bptest.process"
   xmlns:typ="uri:com.bptest.types"
   xmlns:resp="uri:com.bptest.responder"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" 
   xmlns="http://schemas.xmlsoap.org/wsdl/">

   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="uri:com.bptest.types" schemaLocation="types.xsd"/>
      </schema>
   </types>

   <import namespace="uri:com.bptest.responder" 
           location="responder.wsdl"/>

   <message name="ProcessInputMessage">
      <part name="payload" element="typ:AllOrders"/>
   </message>

   <message name="ProcessOutputMessage">
      <part name="payload" element="typ:AllOrders"/>
   </message>

   <portType name="ProcessPT">
      <operation name="Run">
         <input message="proc:ProcessInputMessage"/>
         <output message="proc:ProcessOutputMessage"/>
      </operation>
   </portType>

   <binding name="ProcessBIND" type="proc:ProcessPT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="Run">
         <soap:operation/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>

   <binding name="CallbackBIND" type="resp:CallbackPT">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="Callback">
         <soap:operation/>
         <input>
            <soap:body use="literal"/>
         </input>
      </operation>
   </binding>

   <service name="ProcessSVC">
        <port name="ProcessPORT" binding="proc:ProcessBIND">
            <soap:address location="http://localhost:8080/pxe/soap/async/invoke"/>
        </port>
	<port name="CallbackPORT" binding="proc:CallbackBIND">
            <soap:address location="http://localhost:8080/pxe/soap/async/callback"/>
        </port>

   </service>

  <service name="ResponderSVC">
        <port name="ResponderPORT" binding="resp:ResponderBIND">
            <soap:address location="http://localhost:8080/pxe/soap/async/callback"/>
        </port>
   </service>

  <plnk:partnerLinkType name="ProcessCallerLT">
      <plnk:role name="Process">
         <plnk:portType name="proc:ProcessPT"/>
      </plnk:role>
   </plnk:partnerLinkType>

</definitions>
