modules/guice/src/main/resources/META-INF/mule-guice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/guice"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            targetNamespace="http://www.mulesoft.org/schema/mule/guice"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.0/mule.xsd"/>

    <xsd:element name="object" type="guiceObjectFactoryType" substitutionGroup="mule:abstract-object-factory"/>

    <xsd:complexType name="guiceObjectFactoryType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractObjectFactoryType">
                <xsd:attribute name="classBinding" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Refers to an object bound by an interface type in a Guice module
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

</xsd:schema>
