transports/multicast/src/main/resources/META-INF/mule-multicast.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/multicast/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:udp="http://www.mulesource.org/schema/mule/udp/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/multicast/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/udp/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/udp/2.0/mule-udp.xsd"/>

    <xsd:element name="connector" substitutionGroup="mule:abstract-connector">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="udp:udpConnectorType">
                    <xsd:attribute name="timeToLive" type="mule:substitutableLong"/>
                    <xsd:attribute name="loopback" type="mule:substitutableBoolean"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
